[2012-07-15 21:09] pushrax opened #3 "Version on npm is outdated."
The stateless fix is necessary for passport-steam to run, but it hasn't been pushed to npm yet. It'd be good to do this at some point in the near future.

[2012-07-18 16:25] #3 closed, assigned to nobody

[2012-11-10 00:42] ForbesLindesay opened #4 "Link in readme is wrong"
The link in the readme should go to http://steamcommunity.com or failing that http://steampowered.com

[2012-11-10 00:52] #4 closed, assigned to nobody

[2012-12-11 18:42] seishun opened #5 "profile defaults to true"
strategy.js, line 44:

[code]

Steam doesn't send any profile information, but this line forces passport-openid to call the verify callback with (result.claimedIdentifier, profile, verified), ignoring arity.

[2014-02-25 00:35] #5 closed, assigned to nobody

[2014-04-08 06:21] mbatista opened #7 "NPM install not getting last version"
Using "latest" on package.json or running nom-install passport-steam does not give me the latest version with account information.

[2014-08-04 21:43] #7 closed, assigned to nobody

[2014-09-21 00:06] paralin opened #9 "Cannot read property 'steamid' of undefined"
[code]

[2014-09-21 00:07] #9 closed, assigned to nobody

[2014-12-11 12:40] initialize opened #10 "result.response.players is empty"
Same issue as here: https://github.com/liamcurry/passport-steam/issues/9

[code]
Everything looks okay in response, identifier and profile - except:
[code]

What am I missing?

[2015-02-02 11:36] pgrodrigues commented on #10
I'm having the same problem, any help? :s

[2015-03-17 22:02] DeGuitard commented on #10
It gave me a headache, but I finally found out what was wrong. Then I wanted to submit a patch, but… After my git clone, I found out it was already fixed. Strange, right?

The fact is, I installed passport-steam with the command 'npm install passport-steam'. And even if the version is "0.1.4" in package.json, the code is different (coincidentally or not, especially in strategy.js around line 58).

[2015-03-17 22:44] joercasey commented on #10
Oh wow, that's strange. I replaced strategy.js with the version in the repo, and it works great! Thanks @DeGuitard

[2015-03-17 22:58] pgrodrigues commented on #10
thanks for sharing @DeGuitard :).

[2015-03-31 23:28] pockata commented on #10
@liamcurry Can you update the npm package with the latest code from the repository? This plugin is used by around a thousand people a month, it'll probably be worth your while to update it. Thanks!

[2015-04-13 09:27] Apercu opened #12 "Bump package version"
Hi, can you please bump the version and publish it to npm?

Thanks :cat:

[2015-04-21 23:09] liamcurry commented on #12
Done!

[2015-04-21 23:09] #12 closed

[2015-04-21 23:10] liamcurry commented on #10
Hey sorry about that. Updated the version on NPM. Thanks guys!

[2015-04-21 23:10] #10 closed

[2015-06-10 15:27] graycatfromspace opened #13 "InternalOpenIDError: Failed to verify assertion"
InternalOpenIDError: Failed to verify assertion
    at /var/www/csgobig.com/express/node_modules/passport-steam/node_modules/passport-openid/lib/passport-openid/strategy.js:184:36
    at /var/www/csgobig.com/express/node_modules/passport-steam/node_modules/passport-openid/node_modules/openid/openid.js:1068:12
    at /var/www/csgobig.com/express/node_modules/passport-steam/node_modules/passport-ope

[2015-06-10 15:55] graycatfromspace commented on #13
on further investigation seems to be related to this.

passport.serializeUser(function(user, done) {
  done(null, user);
});

passport.deserializeUser(function(obj, done) {
  done(null, obj);
});

[2015-06-12 20:24] graycatfromspace commented on #13
seems related to a fucked up response from steam..

[2015-06-18 15:03] dolanmiu opened #14 "Error: connect ETIMEDOUT"
It seems like sometimes when I login, it throws this:

[code]

It loads the OpenAuth steam login, and then it will take forever to login, then it will throw that timed out error. It does not return me back to my website!

What is going on?

It only started happening recently.

Maybe Request is throwing the error?

https://github.com/request/request/issues/636

[2015-07-27 14:48] Miwwa opened #15 "Update steam-web dependence"
Today I have exception
[code]
In steam-web v.0.2.4 this issue has been fixed, you need to update version of this package

[2015-07-28 04:49] BenjaminNeilDavis commented on #13
I am having the same issue @graycatfromspace Any luck?

[2015-08-01 01:05] DeltaMeter commented on #13
@BenjaminNeilDavis I had the problem because I was using the same API key twice, once on my prod machine and once on my dev machine.

[2015-08-01 21:01] pronebird opened #16 "Random crash"
Not quite sure why it happens.

[code]

[2015-08-15 10:52] FelikZ commented on #13
Fixed by adding missing middleware:

[code]

[2015-08-16 16:53] vanesyan commented on #15
cc @liamcurry

[2015-08-16 16:54] vanesyan commented on #15
/cc @liamcurry

[2015-08-16 18:50] liamcurry commented on #15
Fixed in 565fc17175. Thanks for the report and reminder!

[2015-08-16 18:50] #15 closed

[2015-08-17 05:57] meitinglei commented on #13
i have the same issue，can't fixed it

[2015-08-17 14:41] FelikZ commented on #13
@meitinglei try to use passport middleware AFTER all other express middlewares.

[2015-08-24 10:29] Gacnt opened #17 "Why am I getting Cannot set property 'user' of undefined?"
Not sure why I am getting this error

I have my session initialized and everything, any information would be great thanks.

[2015-08-24 21:02] Zeikko commented on #17
I have exactly the same issue.

It is thrown from here: node_modules/passport-steam/node_modules/passport-openid/node_modules/passport/lib/passport/http/request.js:45:35

[2015-08-24 21:09] Zeikko commented on #17
I figured out that passport-steam is not compatible with passport 0.3.0 but works fine with 0.2.2
So you should explicitly state to use 0.2.2 in your package.json:
[code]

[2015-08-26 11:19] Cuel commented on #15
I'm still geting it (passport-steam 0.1.6, steam-web 0.2.4)

[code]

Is this an issue with steam-web?

[2015-08-26 14:20] Zonalhaz commented on #17
Thanks, was having this problem also.

[2015-09-04 21:47] Zonalhaz commented on #16
I've had this issue too. It works fine on localhost but crashes randomly on heroku.

[2015-09-13 10:26] Max0nyM commented on #17
some fix?(

[2015-09-24 13:08] Cuel commented on #17
Module needs to be updated to have passport-strategy as a depenency

[2015-09-27 10:04] sturadnidge commented on #17
@cuel this module doesn't have passport as a (direct) dependency.

Everyone else - this looks pretty much unmaintained... if all you want to do is authenticate users (ie you don't want their Steam profile data), you can just use the vanilla passport-openid module and follow the passport-openid signon example with the following:
[code]

[2015-10-04 04:49] nahtnam commented on #17
So this is unmaintained? Should I just use the code above?

[2015-10-18 01:09] nahtnam commented on #17
@sturadnidge Am I supposed to use regex or something to strip out the uid from the response? Right now its returning a url, http://steamcommunity.com/openid/id/<steamid>.

[2015-10-21 02:43] switz opened #18 "Response is timing out"
Started happening out of nowhere - not sure why.

[code]

[2015-10-21 02:46] switz commented on #18
And after hours of it not working, it magically started working again. Thanks Murph

[2015-10-21 02:46] #18 closed

[2015-10-22 16:07] men232 commented on #16
Hey, i fixed it in by fork :)
https://github.com/men232/passport-steam

[2015-10-29 15:17] ShaZZamHP commented on #16
Hi, I have the same problem so far

[2015-11-01 12:49] DPr00f commented on #16
hey @men232,
Since you've fixed, couldn't you make a pull request to this library so it would be fixed in the original repo?

[2015-11-13 02:20] looterz commented on #16
It seems like this repo is unsupported now, it might be worth creating a fork and fixing up some of the outstanding issues. Unfortunately this is the only passport authentication module for steam.

[2015-11-13 09:01] DPr00f commented on #16
What issues are you having with it?

[2015-11-13 09:01] DPr00f commented on #16
I'll delete my comment. I thought this was another repo. Sorry

[2015-11-22 17:59] sturadnidge commented on #17
@nahtnam yeh that's what I am doing... so continuing from my snippet above, the first 2 lines in the function would be:

[code]

[2015-11-22 18:14] nahtnam commented on #17
@sturadnidge I ended up doing this:
[code]

[2015-11-22 19:27] mnzt commented on #17
@nahtnam @sturadnidge use `profile.id`. It's exactly the same as `http://steamcommunity.com/openid/id/xxxxxxxxxxxxxxxxxxx`

[2015-11-22 19:28] nahtnam commented on #17
@mnzt What do you mean?

[2015-11-22 19:31] mnzt commented on #17
@nahtnam

`const uid = identifier.replace('http://steamcommunity.com/openid/id/', '');` is exactly the same to `profile.id`, which is passed back in the `passport.use` function.

Example:
[code]

[2015-12-06 19:32] sturadnidge commented on #17
@mnzt oh yeh? nice one, will do!

[2015-12-06 20:27] mnzt commented on #17
@sturadnidge no worries! There's some pretty useful stuff in the profile object including avatar images, profile urls, vanity names, etc.

[2015-12-06 20:31] nahtnam commented on #17
Oh really? If only I knew that before. I've been making a separate api call
just to get the avatar... Thanks!

On Sun, Dec 6, 2015, 12:27 PM Toby Archer <notifications@github.com> wrote:

[2015-12-06 21:16] sturadnidge commented on #17
@mznt does all that come back with the standard auth call though? I thought you had to use an API key to get all that, which I'm not doing.

[2015-12-06 21:18] mnzt commented on #17
@sturadnidge you need the API key for getting the auth call. The `profile` data is just a separate api call and formatting inside the passport-steam package.

[2015-12-06 21:28] sturadnidge commented on #17
@mnzt nah you don't - you can do auth without an API key. This package requires the API key because it does all those profile operations under the hood, which I'd rather to do differently - I'm just using raw openid-connect, not this package.

[2015-12-06 21:31] mnzt commented on #17
@sturadnidge oops my bad! It seems so backwards in hindsight...

I really wish this package would become active again, or atleast start accepting pull requests.

[2015-12-06 21:38] sturadnidge commented on #17
@mznt no worries at all! agreed re: this package, they should at least just give the name up so someone more interested can take over.

But yeh, that was the whole reason I came in here to begin with, to show ppl you could still do just the auth just by using vanilla passport-openid with no need for an API key(setting profile:false and stateless:true is important for that!), then after auth you ca

[2015-12-06 21:38] nahtnam commented on #17
Why not fork?

On Sun, Dec 6, 2015, 1:31 PM Toby Archer <notifications@github.com> wrote:

[2015-12-06 21:40] sturadnidge commented on #17
@nahtnam I certainly cbf :). But in any case, I'm just after the auth and don't care much for the profile stuff, so I'd rather just stick with vanilla passport-openid and pick up any patches that go into that.

[2015-12-06 23:43] nahtnam commented on #17
Ah kk.

Any idea what happened to @liamcurry? It would be great if he at least updated the readme.

[2015-12-06 23:47] luop90 commented on #13
This issue is still occurring. It seems to happen at random, because some times users can login, and other times they can't.

[2015-12-07 14:51] #16 closed

[2015-12-30 11:26] Yashko opened #21 "Error: Unknown authentication strategy"
[code]

Any ideas how i can fix that?
versions:
"passport": "^0.2.2",
    "passport-steam": "^0.1.6",

30 days ago this code was working fine

[2015-12-30 11:51] Yashko commented on #21
looks like some problems with versions, i changed "steam_en" to "steam" and now it working fine.

[2015-12-30 11:53] #21 closed

[2016-01-16 12:40] welps commented on #17
Are you guys still having this issue? @mnzt and I got added as collaborators so we can keep this up-to-date now.

[2016-01-16 19:28] cmccall commented on #17
@welps great to hear. I just tried the (updated) example and see the following after redirecting back from the steam login:  \node_modules\passport-steam\lib\passport-steam\strategy.js:62
            _json: result.response.players[0],
                         ^
TypeError: Cannot read property 'response' of undefined
    at steam.getPlayerSummaries.callback (D:\tradeup\node_modules\passpor
\lib\pas

[2016-01-16 19:46] welps commented on #17
@cmccall Do you change the Steam API key to the one Valve gives you? I receive the same error if the API key is set incorrectly.

[2016-01-16 20:14] cmccall commented on #17
@welps yep that API key was it, copy/paste error. Thanks!

[2016-01-16 20:15] #17 closed

[2016-01-16 20:17] nahtnam commented on #17
Maybe add that to the readme so that other ppl don't create an issue for
the same error.

Thanks.

On Sat, Jan 16, 2016, 12:15 PM Toby Archer <notifications@github.com> wrote:

[2016-01-16 20:24] mnzt commented on #17
It technically is in the README.MD. Personally I don't feel that it needs to explicitly be explained, it should naturally be inferred.

[2016-01-16 21:09] welps commented on #17
I was going to handle this error for the reasons above, but it was actually fixed in bbd16ce9aa1889efd6aa058db1354ee337f37092 . This hasn't been published to npm though which is why people are still getting an unfriendly error from the updated example. @mnzt and I don't have access to the package on npm so we'll request that.

After we update, this package should return a `JSON response invalid, y

[2016-01-16 21:13] mnzt opened #22 "Add travis continuous integration deployment for NPM"
Continuing from #17.

Adding https://travis-ci.org would allow automated deployment to NPM, along with continuous testing.

[2016-01-16 21:16] welps commented on #22
Good idea, thanks.

[2016-01-16 21:20] nahtnam commented on #17
:+1:

On Sat, Jan 16, 2016 at 1:09 PM WC <notifications@github.com> wrote:

[2016-01-18 16:29] liamcurry commented on #17
@welps @mnzt I've added you both as collaborators on NPM.

[2016-01-19 10:23] mnzt commented on #22
Remedied in #17.

@welps do you want to use your NPM API key in the Travis build, as I'll be away for a week or so soon.

[2016-01-19 10:23] #22 closed

[2016-01-19 10:50] mnzt commented on #13
@luop90 are you still having this issue?

[2016-01-21 05:51] switz opened #24 "Doesn't validate realm on return"
This library (or one of its dependencies) does not validate the openid realm. If I login to another third party site via steam, they can log in to my site using the secret.

Let me know if this is upstream and I'll gladly pass it along. If it is upon me to validate the realm, it would be very helpful if you can provide an example.

Thanks!

[2016-01-22 04:55] welps commented on #24
I suspect it's the passport-openid dependency that should be validating this, but I'll take this weekend to confirm and fix, if possible. Thanks.

[2016-01-22 11:16] mnzt commented on #14
Are you still experiencing this issue?

If so, it appears to be a problem with your own network/application, rather than the package.

[2016-01-22 11:16] #14 closed

[2016-01-22 22:42] aidenwallis commented on #13
I found out what the issue is, there's something wrong with a dependency inside, passport-openid, downgrade it and place it inside the passport-steam and it should fix it! :)

[2016-01-23 01:54] luop90 commented on #13
@mnzt Yes. In fact, it got so bad, I switched to express because I couldn't get this one to work more then 10% of the time.

[2016-01-23 12:35] mnzt commented on #13
@luop90 express js irrelevant to this. Closing.

[2016-01-23 12:35] #13 closed

[2016-01-23 14:17] luop90 commented on #13
I edited my comment to everyauth, "express" was a typo... W/e

[2016-01-23 18:38] aidenwallis commented on #13
I found the issue, I got mine to work finally, it doesn't seem as if you can use a database with it. As weird as it sounds, I just store a class in cookies in a MongoStore now, as it seems to work great now. And use the same passport and passport-steam version as in the example site. It all works great for me now! I'm not too fussed about storing it in a cookie, as it's not accessible to the user

[2016-01-23 20:02] mnzt commented on #13
@aidenwallis I've personally used this package with a database, what you do with the data shouldn't cause an error with the package at all, just an error with how you're handling it.

[2016-01-23 20:05] aidenwallis commented on #13
I don't know, all I know is when I stopped it from adding users to a database everything works great. But it's not too big of a worry with my site so I'm just going to keep it this way, I literally just manipulated the example to use mongoose with no luck, so after using no database it seems to work.

[2016-01-23 20:56] mnzt commented on #13
@aidenwallis certainly sounds like a problem external to passport-steam.

At least you've got something to work out for you :).

[2016-01-24 03:35] welps commented on #24
@switz I'm having issues reproducing this, do you have a proof of concept / example I can check out?

[2016-01-24 03:44] welps commented on #24
Not sure if this helps you in the short term but you can check the request itself when verifying the user if you set `passReqToCallback` to true when passing in `SteamStrategy`.

[code]

[2016-01-24 05:38] switz commented on #24
Here's the fix: https://github.com/havard/node-openid/pull/141

[2016-01-24 05:45] welps commented on #24
Oh. That package is a dependency of passport-openid so passport-steam will pick it up once it gets merged and updated on npm.

Thanks for reporting this. I'll keep track of the issue progress since that's quite the security hole.

[2016-01-24 05:45] #24 closed

[2016-01-24 17:24] rlenders opened #26 "Steam web API key in js file?"
Hi there. I'm new to all this, so maybe I'm interpreting it wrong, but it seems I have to pass my Steam web API key as a parameter in JavaScript to make the "Sign in through Steam" stuff work? If that's the case, isn't it harmful to just put the API key in a JavaScript file, where all users can easily access it?

[2016-01-24 17:29] mnzt commented on #26
Passport is for Node.js, which runs on the server. It acts as a Web server, instead of a file which runs in the browser, therefore your source code is never disclosed to the user.

[2016-01-24 17:29] #26 closed

[2016-01-29 23:23] havard commented on #24
Fixed in 2.0.0, note the major version bump

[2016-01-30 03:21] welps commented on #24
Thanks for the resolution and update, really appreciate it!

[2016-02-01 21:39] aidenwallis opened #27 "Error: InternalOpenIDError: Failed to verify assertion"
Hi,

I'm getting this error and I cannot seem to work out why, I'm using MySQL for my database if that's any use.

[2016-02-01 22:19] welps commented on #27
Did you recently run `npm install` or `npm update`?

Are you perhaps redirecting the `returnURL` that's set within the passport configuration?

[2016-02-01 22:54] aidenwallis commented on #27
These were only installed today, so no need to update, I also cleared node-gyp to refresh it all, the returnURL is fine as well, the only thing that redirects is when the authentication is successful.

[2016-02-02 00:17] welps commented on #27
`1169:16` from `open-id` is `return callback({ message: 'Invalid signature' }, { authenticated: false });`

Is this running off your home computer? If so, are you using a proxy/firewall?

[2016-02-02 06:19] aidenwallis commented on #27
Nope we're running off of an Ubuntu server with an Nginx reverse proxy in front to manage SSL, load-balancing etc.

[2016-02-02 10:55] aidenwallis commented on #27
Would it be useful if I attached the executing code where the strategy is configured?

[2016-02-02 16:09] welps commented on #27
Yeah, definitely.

[2016-02-02 17:20] aidenwallis commented on #27
Here is the code:

`app.enable('trust proxy', 1);
app.use(session({
  proxy: true,
  secret: config.cookies.secret,
  name: config.cookies.key,
  resave: false,
  saveUninitialized: false,
  cookie: {
    httpOnly: true
  } // will be configuring session store later
}));
app.use(function(req, res, next){
  res.locals.currentUrl = '//' + req.hostname + req.url;
  res.locals.date = new Date().getTim

[2016-02-02 19:37] welps commented on #27
Cool. I'm able to reproduce. Let me look into it.

[2016-02-02 19:49] aidenwallis commented on #27
Ok thank you! I'm on a deadline for 2 projects with this so thank you very much for the help! To add some more information, I cannot seem to use a database with it, but process.nextTick works, if that may be any use whatsoever, the database definitely works.

[2016-02-02 19:56] mnzt commented on #27
Do you mean the database works within `process.nextTick()`? If so, that's correct.

https://nodejs.org/api/process.html#process_process_nexttick_callback_arg

[2016-02-02 21:06] welps commented on #27
Hey, so the error you're seeing is kind of unrelated to your issue. For the return route, instead of
[code]
You should use:

[code]
successRedirect doesn't work for whatever reason (OpenID specific issue probably) which is why you see that error. The method I listed above is the one advocated by the parent dependency `passport-openid` and it works.

FYI, `res` will always be true in the code you g

[2016-02-02 21:57] aidenwallis commented on #27
I don't use `process.nextTick()`, I'm saying without a database, I use the callback inside of `process.nextTick()`, which works.

[2016-02-03 07:01] welps commented on #27
Hey @aidenwallis, let me know if my solution above worked out for you. Thanks.

[2016-02-03 22:41] aidenwallis commented on #27
Sadly it didn't resolve the issue :(

[2016-02-04 07:45] welps commented on #27
@aidenwallis , here's the code you gave me that I rolled into an Express barebones project and was able to use successfully: https://github.com/welps/aidenwallis

Can you try downloading it, configuring it, and verify that it works on your end?

[2016-02-04 07:49] mnzt commented on #27
@welps were you using NPM3?

NPM version shouldn't be the issue, but I've got a feeling it may.

[2016-02-04 07:50] mnzt commented on #27
@welps were you using NPM3?

NPM version shouldn't be the issue, but I've got a feeling it may.

[2016-02-04 08:04] welps commented on #27
Yeah, I'm on NPM3. I can see that he's on NPM2 from the stack trace, but I'm not sure how NPM can be a factor since the dependencies were just flattened unless there's a conflict. As far as I can tell, it seems like the user's project is still in its infancy so there shouldn't be a load of dependencies yet.

[2016-02-04 08:13] mnzt commented on #27
Just an additional step to debugging. I once experienced issues with NPM2 that were solved by NPM3.

You stated you're using NGINX infront, and running a reverse proxy back to the application. Try using the FQDN as the realm and return address, not the IP.

[2016-02-04 18:15] aidenwallis commented on #27
None of the ideas fixed it, have decided to re-write in PHP for this project. Thank God for being comfortable in multiple languages! :P

[2016-02-04 18:15] #27 closed

[2016-02-04 18:37] welps commented on #27
Sorry to hear we couldn't help. I was able to reproduce your issue, remedy it in my dev environment, and repeat it on my staging using the repo I uploaded, so it must be something on your end.

Here's the full debug log from my staging:

`DEBUG=* npm start`

[code]

[2016-03-16 19:14] mnzt opened #29 "Q/A with the users"
To all users of passport-steam. I'd like to open this issue to take feedback and suggestions from the users. If you would like to make a suggestion please use the following template:
## Suggestion
- Name:
- Reason:
- Example use case:

All feedback is kindly accepted, and after we gather a nice amount me and @welps will work on getting a beta branch out.

Thanks, all :)

[2016-03-28 17:24] WeeSkilz opened #31 "Failed to discover OP endpoint URL"
Using the recommended code

[code]

[code]

Error: `Failed to discover OP endpoint URL (message: No providers found for the given identifier)`

Occasionally the site will progress past this stage however, resulting in the next error:

`Failed to verify assertion (message: No OpenID provider was discovered for the asserted claimed identifier)`

I tried the solution in #27 but I couldn't get it to w

[2016-03-29 10:06] mnzt commented on #31
Have you recently reinstalled your dependencies? I've got a feeling you may be missing a dependency of passport-steam. Are you running NPM3?

[2016-03-29 10:09] mnzt commented on #31
Also, are you reverse proxying through NGINX or such?

[2016-03-29 11:51] WeeSkilz commented on #31
Just reinstalled passport-steam on NPM3, no change.

[2016-03-29 12:22] mnzt commented on #31
1. From your production server, can you `curl http://steamcommunity.com/openid`? I've got a feeling that it may be a firewall/network issue.

2. If you can curl it, does `grep node_modules/passport-steam/lib/ http://steamcommunity.com/openid` turn any results? If not, can you post the output from `cat node_modules/passport-steam/lib/passport-steam/strategy.js`?

[2016-03-29 15:53] WeeSkilz commented on #31
Not reverse proxying.

I think you meant `cat node_modules/passport-steam/lib/passport-steam/strategy.js | grep steamcommunity` so I ran that and can confirm that it's present.

I can curl the url and I get the XML file so I don't think it's a firewall issue.

[2016-03-29 16:08] mnzt commented on #31
Yes, sorry - stressful day at work.

Do you have any middlewares, configs, or anything else we can use to get replicate the issue?

May I also ask for a full error log? If you're not comfortable with publicly posting the info feel free to email me.

[2016-03-29 16:52] WeeSkilz commented on #31
I'm using express, express-session, the latest passport and the latest passport-steam.

The full log from launch to the second error at the callback (skipped the first for some reason) is as follows:

[code]

[2016-03-29 17:14] mnzt commented on #31
So looks like issue is that steam is returning an invalid URL/OpenID blob that's incompatible with the underlying OpenID dependencies. This means it's at Steam's end and not much we can do, maybe you could verify your API key, try on different machines/networks?

Going to do some extra digging in the meantime and ensure it's not an issue with the package.

See here: https://github.com/havard/node-

[2016-03-29 19:06] WeeSkilz commented on #31
It just seems rather strange with the error regarding not finding the endpoint.

[2016-03-29 19:13] WeeSkilz commented on #31
Seems to be working on a different server, very strange. I'll take a dig through the server setup and see if I can resolve this. I'll post on this issue if I find a fix.

[2016-03-29 19:18] mnzt commented on #31
It could be a DNS issue, or possibly the server was IP blocked by Steam, though unlikely. Going to close the issue as it's resolved, although please do update if you find the direct cause.

[2016-03-29 19:18] #31 closed

[2016-03-29 21:25] WeeSkilz commented on #31
Flushing the DNS followed by a system restart seemed to fix the issue.

[2016-04-11 21:56] tlenclos commented on #27
I think I have the same issue trying to implement the open-id authentication in feathersJS. It is working with a simple express app but not with feathers middleware... 😞

https://github.com/feathersjs/feathers-authentication/issues/154

[2016-04-29 00:17] Lorac opened #32 "Usage with AngularJS"
I'm trying to use this for authentication, but I don't think it's usable with AngularJS or is it? I'm getting the CORS error which make sens, because my frontend isn't being redirected. It is not being redirected because it's calling my server /auth/steam

[code]

Should I copy the long url that steam provides (like csgolounge.com does in the sign in button)?

[2016-04-29 06:34] mnzt commented on #32
Passport-steam exposes two endpoints and middleware for node.js, it should work with everything.

You'll want to enable CORS compliance to properly deal with steam's oath referral

[2016-04-29 15:33] Lorac commented on #32
Yes CORS is enabled, but the problem is that my browser isn't being redirected.

[2016-04-29 15:49] mnzt commented on #32
That sounds like a problem with your web server + angular setup, rather than passport-steam. It's hard to do much without logs/code

[2016-04-29 20:03] Lorac commented on #32
Do you have have an example with an angularjs setup?

[2016-04-29 20:15] mnzt commented on #32
I don't know AngularJS, sorry. However there is an Express example in this repo, which should still apply to your server.

[2016-04-29 20:16] Lorac commented on #32
I pretty much did what it's in example you provided for the server.

[2016-04-29 20:46] mnzt commented on #32
It should work then, as previously stated it's more than likely a problem with your setup - and without logs/code it's next to impossible to help out. Can you provide any logs or code?

[2016-04-30 00:00] Lorac commented on #32
I'll prepare something.

[2016-05-01 05:59] Lorac commented on #32
Oh wow I was able to fix it by instead doing an AJAX call ($http.get(...)..  ) to the /auth/steam.
I  just did this : `$window.location.href = '/auth/steam';`

And now it works!

[2016-05-06 08:56] RafGDev opened #33 "Integrating passport-steam with koajs"
I have changed the example passport-steam from an express based app to a koa based app. In the express version everything worked very well but when I changed the framework to koa, after I returned from the openid provider back to my app, even though the returnUrl was right, my app instantly got a 404 status. Can passport-steam along with koa-passport be used with koa.js?

[2016-05-06 14:48] mnzt commented on #33
I personally do not know.

Can you post error logs and code snippets so I can try and debug, please?

[2016-05-07 04:19] RafGDev commented on #33
Here is my code:  My node version is6.0.0 and my npm version is 3.8.6

    const koa = require('koa')
    const route = require("koa-route")
    const passport = require('koa-passport')
    const SteamStrategy = require('passport-steam').Strategy;

    const app = koa();

    passport.serializeUser((user, done) => {
      done(null, user);
    });

    passport.deserializeUser((obj, done) => {

[2016-05-07 08:22] mnzt commented on #33
It looks like we need to update passport-steam to include the latest version of open-id (as of https://github.com/havard/node-openid/issues/148).

I'll work on this today, and try and get something released tonight. Thank you for raising the issue :)

[2016-05-07 08:41] mnzt commented on #33
I've had to maintain my own fork of the `passport-openid` package, as the author is inactive. Using your example, I have it working.

[2016-05-07 09:50] RafGDev commented on #33
When I implemented the changes you did in the pull request, the error that I stated above went away. Now, passport does not go back to my returnUrl but instead it just throws a 404 "Not Found". In the /auth/steam/return route could you please put a "this.body = "test"" in it to see if passport redirected back to the returnUrl?

Thanks.

[2016-05-07 10:17] mnzt commented on #33
the `/return` route is meant to serialize the user into a session, and not act as a page per se.

I think the issue you're experiencing is from `koa-route`, I suggest using `koa-router` - which is a far more feature-rich solution, and one that I just verified works with passport-steam

[2016-05-07 13:23] mnzt commented on #33
@RafGDev it's published! Please just update your NPM dependencies :)

[2016-05-07 13:23] #33 closed

[2016-05-07 13:24] mnzt commented on #32
Just seen you've fixed this, good job :)

[2016-05-07 13:24] #32 closed

[2016-05-09 03:03] ha1331 opened #35 "Not validating source of callback"
There currently is an exploit that uses the fact that surprisingly many applications are not validating the source of the identity. It's pretty easy to fake a request to the url `/auth/steam/return` in the example you have provided. I'm not claiming this is an issue in passport.js or in passport-steam package. It how ever has been a problem for multiple sites not implementing it properly and I kno

[2016-05-09 08:13] mnzt commented on #35
You raise a very good point, there is quite a high potential for mitm attack for openid and steam.

I don't see any reason the package cannot verify the source on the return payload - I'll see what I can muster up after work

[2016-05-09 13:32] breatoz commented on #35
Something like the following would prevent this.

`app.get('/auth/steam/callback',function(req,res,next) {
  if (req.query['openid.claimed_id'].substr(0,26) != "http://steamcommunity.com/"
  || req.query['openid.identity'].substr(0,26) != "http://steamcommunity.com/"
  || req.query['openid.op_endpoint'].substr(0,27) != "https://steamcommunity.com/") {
        res.redirect('/auth/steam');
        r

[2016-05-09 13:36] breatoz commented on #35
Can you delete this post for now, we're working on patching it and don't want others exploiting sites.

Thx.

[2016-05-09 13:43] mnzt commented on #35
@breatoz No, we will not delete this. I am working on a patch which ought to clear this up shortly

[2016-05-09 14:10] welps commented on #35
@mnzt Somewhat related to this is #24 -- we're blocked by upstream still utilizing node-openid 1.x.x.   I've been meaning to open a PR to investigate and get passport-openid to using node-openid 2.x.x but literally have had no time since starting new job.

[2016-05-09 14:14] mnzt commented on #35
@welps I've had to open up my own fork to fix (#34). We can probably move forward on this?

[2016-05-09 14:41] welps commented on #35
@mnzt  oh, I see. I could've sworn that node-openid 2.x.x has breaking changes that passport-openid has to be updated for. Is that not the case?

[2016-05-09 14:44] mnzt commented on #35
@welps Not from what I can see, I tested the example running on node-openid 2.x.x and it all seemed fine

[2016-05-09 15:21] mnzt commented on #35
@ha1331 just to note, as @breatoz posted before deleting, you can temporarily verify via

[code]

You may want to be aware of SSL too.

[2016-05-21 16:54] kondax commented on #35
I don't believe this is a valid issue.

I've been attempting many ways to bypass what you seem as no validation in the identified, yet all have failed.

Node-OpenID checks if op_endpoint from the assertion URL is the same as the  endpoint from the provider URL, and if it isn't then it fails.

Without this, you cannot change the other values of the domain. Without the secret, you are not able to ge

[2016-05-21 17:59] ha1331 commented on #35
@kondax I believe this is as valid issue as issue can be. Seeing how multiple sites have been extorted to pay for a fix, bug bounties has been payed in the tens of thousands and this "bug" or rather limiter or not as secure as possible default implementation has been used to make tens of thousands by logging in as any user you know the steam id for.

I really have difficulties understanding how yo

[2016-05-21 18:03] kondax commented on #35
@ha1331 As I said, OpenID already checks if the callback url matches the strategy's domain, hence why I said it isn't valid.

[2016-05-21 18:12] ha1331 commented on #35
@kondax Well if you say so. Tho the reality of me actually copy pasting an url where I only changed the domain/callback location and steam id  to be able to login to multiple sites, including the example implementation from this repo as any user that existed and you saying it doesnt work are not in sync. Don't know how valid your claim is, but I know this works, since I have tried it. Also I know

[2016-05-21 18:15] kondax commented on #35
It's strange, since I tried the same as you without success. I attempted to change the op_endpoint to a fake site that returns the is valid response, yet OpenID checks if the domain is the same. I'm unsure of how you achieved it.

Sorry, my mistake.

[2016-05-21 18:26] ha1331 commented on #35
We are approaching the limit of my understanding of how openid works, but the way it works is, fakesteam.exploit.com verifies that the user is valid user for fakesteam.exploit.com and that seems to be enough. Problem here is allowing these verifications to other domains than steamcommunity.com. Does that make sense?

[2016-05-21 18:42] welps commented on #35
@ha1331 do you mind trying to reproduce this on the latest version of passport-steam?

I believe @mnzt updated this package to use a fork of passport-openid where its dependency, node-openid, has been updated to 2.x.x. That version of node-openid addresses the concern brought up in #24

[2016-05-21 18:49] kondax commented on #35
@ha1331 then I believe it has been addressed, since with the latest version of passport-steam the exploit seems not to be present.

[2016-05-21 19:27] ha1331 commented on #35
@welps I tested it, after wiping `node_modules` and doing `npm install` I'm happy to say the "exploit" as it was, does not work anymore.

@kondax I apologize if my responses came out strong, did not know work had been done to fix this, seeing how the issue was still open and all that.

[2016-05-21 19:29] welps commented on #35
@ha1331 Great to hear. Thanks for reporting the issue.

@mnzt Thanks for the update!

Yeah, sorry for the miscommunication guys. We'll try to keep these tickets up-to-date.

[2016-05-22 13:18] mnzt commented on #35
Great work on the :bug: squishing, on behalf of the users of this package, I highly appreciate it

[2016-05-24 21:58] AtlasDev opened #37 "InternalOpenIDError: Failed to verify assertion"
Hello,

I've been running in this issue all day, and I still don't know totally how to fix it.

I've got this error with this module, both on node 4.4 and node 6.0
[code]

So naturally I digged in the source code, and changed this line:
[code]
to:
[code]

This resolved the issue on node 4.4, but got an error on node 6.0 (that's why that modules is created i guess):
[code]

Anyone has fixed that fi

[2016-05-24 21:59] AtlasDev commented on #37
#27

[2016-05-26 05:28] andrewda commented on #37
I've been experiencing the `hasOwnProperty` error, too, with Node.js v6. I'm assuming it was removed – why, though, is beyond me. I did some basic research, which yielded nothing.

[2016-05-28 07:46] jennyl commented on #37
I got the `params.hasOwnProperty is not a function` error with node 6.x on aws. Otherwise, works perfectly on local machine (node 4.4.3).

Also, @AtlasDev did you include `passport.serializeUser(...` and `passport.deserializeUser(...` functions in your code?

[2016-05-29 10:04] AtlasDev commented on #37
Yes I have, but really basic:

[code]

[2016-06-03 13:25] Secretmars commented on #37
Just update all npm packages.. it fixes the problem, the cause of problem is not about this repo.. its about packages.

[2016-06-03 16:07] notJackson commented on #37
Any solutions? I'm stuck. None of the node openid packages work reliably,...

[2016-06-03 16:48] mnzt commented on #37
`npm update

[2016-06-03 17:24] notJackson commented on #37
Done so, even went into the packages to run this command to ensure all packages are up-to-date. Still encountering this error 90% of the time.

[npm ls](https://gist.github.com/notJackson/d58ab5d1a26315788bd6714baecb68fa)

[2016-06-03 20:16] mnzt commented on #37
@notJackson are you using NPM3?

[2016-06-03 21:50] Secretmars commented on #37
it works without problems on my project, no idea what is wrong with yours..

[2016-06-03 22:05] notJackson commented on #37
npm version
{ npm: '2.15.1',
  ares: '1.10.1-DEV',
  http_parser: '2.5.2',
  icu: '56.1',
  modules: '46',
  node: '4.4.3',
  openssl: '1.0.2g',
  uv: '1.8.0',
  v8: '4.5.103.35',
  zlib: '1.2.8' }

I have now enabled `profile: true` (rather not false) and it works ever since. I'll keep you updated if something happens.

[2016-06-03 22:12] mnzt commented on #37
Update to NPM3, that should fix the issue

On Fri, 3 Jun 2016, 23:05 notJackson, <notifications@github.com> wrote:

[2016-06-03 22:19] notJackson commented on #37
Thanks for the quick response, if it happens to bug again I will upgrade within a heartbeat.
Thank you so much.

[2016-06-04 11:20] mnzt commented on #37
Going to leave this issue open for a few more days, if there's no more bug-like activity I'll close it.

[2016-06-04 17:32] notJackson commented on #37
[script](https://gist.github.com/notJackson/fb89961c7b065fda2cbc59dd60ab6870)
[npm ls](https://gist.github.com/notJackson/edbed9d7b0c6b2ca167900ed97696c38)
[npm ls --depth=0] (https://gist.github.com/notJackson/6a7ab8db28330d0ad00e4bde5749aa1c)
[npm version](https://gist.github.com/notJackson/de7872470e8c06d7153e661087e36050)

Still encountering the same error :( The thing is, it sometimes works,

[2016-06-04 23:27] mprey commented on #37
experiencing the same error.

npm version: 3.9.3
node version: 6.2.1
 "passport": "^0.3.2",
"passport-steam": "^1.0.2",

[2016-06-04 23:37] notJackson commented on #37
["curl http://steamcommunity.com/openid"](https://gist.github.com/notJackson/f220d50e2ac5d4c0ba212093ceecb9ab) ~4/10 requests are not succesful.
(In the periods where logging in is not possible, lucky random successful logins do not occur from my experience.)
I have yet to test the average responses when logging in does work.

Stationed on digital ocean. @mprey Where are you hosting your files?

[2016-06-04 23:57] mprey commented on #37
@notJackson hosted my files on my local machine and a deployed heroku app with different API keys and experienced the same error on both machines.

I am able to retrieve the XML file on my local machine with
`curl http://steamcommunity.com/openid`

[2016-06-05 00:26] mnzt commented on #37
@mprey @notjackson

Couple you please follow advice in https://github.com/liamcurry/passport-steam/issues/31#issuecomment-203112694 and see if that helps, I've got a feeling this is a similar issue.

[2016-06-05 02:03] mprey commented on #37
@mnzt flushing DNS came out with the same result.

I have tried my own source code and welp's in this [issue](https://github.com/liamcurry/passport-steam/issues/27#issuecomment-178819687) hosted on my own local machine and deployed as a heroku app. I have also tried signing in with two different machines on the heroku app with no avail. I have a feeling there is a version clashing going on, so I a

[2016-06-05 12:12] mprey commented on #37
after many, many hours of debugging I am pretty sure I found the error.

in the signon example provided in the passport-steam source, the example routed the authentication requests using
`app.get('/auth/steam',
  passport.authenticate('steam', { failureRedirect: '/' }),
  function(req, res) {
    res.redirect('/');
  });`

however, in my app, I was using express's built in Router in order to route

[2016-06-05 12:21] mnzt commented on #37
@mprey Thanks for taking the time to debug. I, and I'm sure many others, have used passport via an express router with no issues, although it's interesting to see you're having this issue.

[2016-06-05 16:12] notJackson commented on #37
I am now running the example provided on my server and also experiencing [this error](https://gist.github.com/notJackson/22a87ca5097a0b3380c8244f54b08479). I will try another service and report back.

[2016-06-05 19:25] praneeth101 commented on #37
I'm having the same issue.
@mprey I noticed the exact same thing. It is having problems when used with Router()

[2016-06-05 20:41] praneeth101 commented on #37
I managed to fix this for me. I used express-generator for my project. I have a file named auth.js in the /routes directory that handles the authentication. I export the router variable just like @mprey does. And in the main app.js file I have this:

[code]

So basically /auth/steam becomes /auth/auth/steam on the site. When I was doing it like this, I was experiencing the `Failed to verify assert

[2016-06-05 21:43] AtlasDev commented on #37
Can confirm it happens with Router, I use it as well. I will soon (tomorrow, maybe the day after) look into the issue again with a fresh install of everything.

[2016-06-06 22:42] Pepsai commented on #35
Anyone want to try out to see if this can be exploited on my website? Or teach me on how this can be done, im still very unsure of this issue.

[2016-06-08 19:20] bartlomiej-korpus commented on #35
This bug is NOT fixed. Using passport-steam@1.0.2 and openid@2.0.1 I can successfully trick example app (examples/signon) to think I am somebody else.

[2016-06-08 19:22] mnzt commented on #35
Can you provide evidence and a steps to reproduce? In am email would be
preferable (you can find my address on my profile)

On Wed, 8 Jun 2016, 20:20 bartlomiej-korpus, <notifications@github.com>
wrote:

[2016-06-08 19:31] welps commented on #35
cc me too please

[2016-06-08 20:40] bartlomiej-korpus commented on #35
Confirmed the issue with @mnzt .

[2016-06-08 20:50] kondax commented on #35
Is this using the same 'exploit', or is there another way around the new prevention checks?

[2016-06-08 21:26] mnzt commented on #35
Hi, I've been doing some testing with @bartlomiej-korpus and I can confirm this is a vulnerable issue.

Unfortunately: this permits to the openid spec, so we're having to come up with our own fix, thankfully @bartlomiej-korpus is willing to devote his time into a fix.
Fortunately: It's not so easy to do, however it is quite trivial.

[2016-06-08 21:27] bartlomiej-korpus commented on #35
@kondax it is the same, in was never fixed in the first place.

[2016-06-08 21:30] kondax commented on #35
Gotcha. If you need any help, I'm available.
On Wed, 8 Jun 2016 at 10:27 pm, bartlomiej-korpus <notifications@github.com>
wrote:

[2016-06-08 21:37] andrewda commented on #35
I can definitely help out, too, and I'll start doing some testing on the best way to avoid this issue. This certainly needs to be fixed ASAP.

[2016-06-08 21:50] Pepsai commented on #35
Hopefully this will be fixed soon, thanks a lot for all the hard work you are doing! :+1:

[2016-06-08 22:55] bartlomiej-korpus commented on #35
I think the suitable way is to check if the claimedIdentifier after successfull assertion fits the regex like `^http:\/\/steamcommunity.com\/openid\/id\/\d+$/`
What do you guys think?

[2016-06-09 01:05] welps commented on #35
@bartlomiej-korpus I didn't get to observe the exploit, but if you exploited the way I think you did, then @mnzt 's comment for a fix works too, no? https://github.com/liamcurry/passport-steam/issues/35#issuecomment-217896085

[2016-06-09 01:16] breatoz commented on #35
Yes; just double check that I had those variable names right; and its assertive ;p

Sorry I've been swamped and haven't participated more

Sent from my iPhone

[2016-06-09 09:25] bartlomiej-korpus commented on #35
Probably yes, but thats not the most elegant way to protect

[2016-06-09 09:46] mnzt commented on #35
@welps our main concern with that is the ability to use a subdomain, for example `steamcommunity.com.github.com`, allong with the usage of nullbytes and other such exploits

[2016-06-09 10:00] bartlomiej-korpus commented on #35
I have mailed node-openid author, person experienced with openid protocol to consult the fix with regexes, hope he agrees that it is enough.

[2016-06-09 11:45] welps commented on #35
@mnzt gotcha, seems like regex should work out too then

[2016-06-09 17:34] kondax commented on #35
I can get the 'exploit' to work with the latest version on my local server (changing all addresses to http://steamcommunity.com.<xxx>:3000), but I am not able to reproduce the error on an older version on my development server.

[2016-06-09 17:55] mnzt commented on #35
@kondax can you please provide version numbers

[2016-06-09 18:43] kondax commented on #35
@mnzt Hang on, I'll grab them in a bit. I'll edit this with them.

[2016-06-11 05:56] kerrop33 commented on #37
I try to run the example **signon** with steam API(https://steamcommunity.com/dev/apikey) domain name **http://localhost:3000/**. I get an error every time steam API return data.

node: v6.1.0

npm: 3.8.6

package:

I hope someone can help. Thanks in advance

[2016-06-11 09:06] mnzt commented on #37
@kerrop33 use node 4.4.5.

I need to see if openid has a working version for node 6

[2016-06-11 14:38] Pepsai commented on #35
Any news on this?

[2016-06-12 05:12] waylaidwanderer commented on #35
I had a discussion with one of the exploiters a few weeks ago and he told me that my site which uses https://github.com/invisnik/laravel-steam-auth is not vulnerable. Although it is PHP, perhaps you can take a look at their [`validate()`](https://github.com/invisnik/laravel-steam-auth/blob/master/src/SteamAuth.php#L50) implementation.

[2016-06-12 07:48] kondax commented on #35
@waylaidwanderer

That library isn't vulnerable since it doesn't call the URL found in the OpenID return parameters but rather a static steamcommunity URL with the OpenID parameters plugged in.

Using the regex @bartlomiej-korpus provided would be enough, but it's also possible to implement a solution that laravel-steam-auth uses.

[2016-06-12 07:55] mavrick commented on #37
Currently getting similar issue

[code]

```node 5.6.0```

```npm 3.6.0```

**npm version**
[code]

[code]

[2016-06-12 09:42] waylaidwanderer commented on #35
Yep, I'm aware. I think this would be the safest solution rather than using a regex, but as you said, both methods would work.

[2016-06-12 09:46] kondax commented on #35
I think it would be best to call the static URL, but without being hacky and modifying the returned parameters, we couldn't do that.

[2016-06-12 09:56] scholtzm commented on #35
@kondax has already pointed this out kinda. The Laravel package is safe because it's always using `http://steamcommunity.com/openid` to verify the signature. Same with many other Steam specific packages.

However, `node-openid` will use query parameter (if provided) to verify the signature: https://github.com/havard/node-openid/blob/master/openid.js#L1243

`passport-steam` only receives `claimed_i

[2016-06-12 10:08] kondax commented on #35
@scholtzm if we bundled our own node-openid, we could fix the issue. I think this might be the only way to go forwards with it.

[2016-06-12 10:10] mnzt commented on #35
@kondax I think that should be our very very last option

[2016-06-12 10:11] mnzt commented on #37
@mavrick Can you see if it works with node 4.4.5? If so, then there may be an underlying issue.

[2016-06-12 10:11] kondax commented on #35
@mnzt Exactly. The only other option I see is creating a pull request on node-openid to allow specific validation URLs, or the same with node-passport.

[2016-06-12 10:35] cocothewithlovein commented on #35
Oh god so this is what has been giving me nightmares for the past week, I've had rogue logins on my admin account which stole my sleep and was up for 3 days implementing multiple authentication checks, (express cid, jwt, ip checks, socket auth token) I'm glad the fault isn't in my code

[2016-06-12 10:41] mnzt commented on #35
@cocothewithlovein You should never have admin access reliant on purely OAuth, you should always ensure 2FA on important applications.

We're currently stuck at a crossroad of keeping the dependency structure, or fixing underlying packages

[2016-06-12 11:11] scholtzm commented on #35
@mnzt Since OpenID spec allows this ("supply any OpenID provider"), I don't think this will be changed in packages such as `node-openid`.

However, I think the fix has already been suggested - just validate the request itself.

A quick fix for anyone running this package right now would be to set `options.passReqToCallback` and then just validate `op_endpoint`, e.g.:

[code]

This can be done insi

[2016-06-12 11:16] kondax commented on #35
@scholtzm That looks like the easiest solution.

[2016-06-12 11:33] henr-y commented on #37
I'm getting the same errors @ node 4.4.5 + npm 3.9.5 and @ node 6.1.0

[2016-06-12 11:36] kondax commented on #35
I've created a pull request that adds @scholtzm's patch to the example. With the amount of people directly copying the example, it's probably considered better so that the deployed sites are patched from this exploit.

[2016-06-12 11:51] Pepsai commented on #35
So the fix provided by @scholtzm would fix the exploit?

[2016-06-12 11:54] kondax commented on #35
@Pepsai it should be a temporary fix, but yes, it would.

[2016-06-12 12:42] scholtzm commented on #37
Regarding invalid return URL: https://github.com/havard/node-openid/pull/152

[2016-06-12 14:28] cocothewithlovein commented on #35
@mnzt right, all the top level admin controls are done through a separate server so not any damages besides someone betting $3 through my account.

@kondax Thanks for that quick fix, now I can remove the 30 jwt's and ip checks that I had

[2016-06-12 16:51] scholtzm commented on #35
@cocothewithlovein Can you add logging of `op_endpoints` if it's invalid? I'm curious to see what is being used.

I dug into this a bit further:

1. For whatever reason, `GetPlayerSummaries` WebAPI allows SteamIDs to be passed in in a very random format, e.g. this works `https://api.steampowered.com/ISteamUser/GetPlayerSummaries/v2/?key=KEY&format=json&steamids=http://steamcommunity.com.banana.com

[2016-06-12 16:52] welps commented on #35
@scholtzm Appreciate all the help you've been contributing, just wanted to say thanks!

[2016-06-12 17:34] kondax commented on #35
@scholtzm I thought my implementation was correct, you put me off haha. I'll update my latest PR to include the identifier checks and use that also.

[2016-06-14 14:53] albertliang commented on #37
Got this issue recently. Odd since it was working initially till I upgraded a bunch of packages. I'm also using
routerAuth.get('/steam', SteamAuthentication.Authenticate);
routerAuth.get('/steam/return', SteamAuthentication.Authenticate);
app.use('/auth', routerAuth);

[2016-06-14 18:14] busheezy commented on #37
I'm been dealing with this tonight as well.

[2016-06-14 18:19] albertliang commented on #37
confirmed if I switch it to:
routerAuth.get('/auth/steam', SteamAuthentication.Authenticate);
 routerAuth.get('/auth/steam/return', SteamAuthentication.Authenticate);
 app.use('/', routerAuth);

it works fine. Just not keen on doing that since it seems like a hack and I have a few other routers I attach due to different middleware I'm using on each.

[2016-06-14 18:20] praneeth101 commented on #37
@albertliang Check my solution here: https://github.com/liamcurry/passport-steam/issues/37#issuecomment-223836352
Not a solution, but a workaround. See if it works for you.

[2016-06-14 18:25] busheezy commented on #37
I'm experiencing this:

``
name: 'InternalOpenIDError',
  message: 'Failed to verify assertion',
  openidError: { message: 'Invalid or replayed nonce' } }
``

Is this related?
I've tried 4.4.5, and node latest.

I had it patched to use OpenIDStrategy = require('passport-openid').Strategy but I started getting the params.hasOwnProperty errors.

[2016-06-14 18:45] scholtzm commented on #37
Happens when someone tries to use the same nonce twice. Might also be a sign someone is attemting to explot #35.

[2016-06-15 18:13] demipixel commented on #37
I'm using node v6.2.1, I'm guessing v6 is the issue? Having the same "params.hasOwnProperty is not a function" problem.

[2016-06-15 19:18] scholtzm commented on #37
Latest `passport-steam` doesn't have this issue.

[2016-06-15 19:20] demipixel commented on #37
Likely doesn't help that I was still using passport-steam v0.1.6. Thanks.

[2016-06-19 07:41] WhiteMinds commented on #37
i want to custom dynamic returnUrl.
such as: xx.com/auth/steam?reUrl=http://xx.com/test.html
new SteamStrategy returnUrl is fixed
what i got to do?

[2016-06-19 08:14] scholtzm commented on #37
You could just redirect the user after reaching the return URL.

[2016-06-20 15:09] scholtzm commented on #35
@mnzt @welps This exploit should get more attention. 😃

[2016-06-20 16:46] Pepsai commented on #35
@scholtzm  what do you mean by that?

[2016-06-20 22:06] breatoz commented on #35
I know right; friggin scary

Sent from my iPhone

[2016-06-21 16:42] welps commented on #35
@kondax @scholtzm @breatoz Sorry! Is #40 the fix I need to look at?

[2016-06-21 17:52] kondax commented on #35
I'd suggest going with the fix mentioned above. No point with my commit as
there isn't a viable solution to fixing the issue.

Would be best to just have the check within the callback - we can't do
anything else.
On Tue, 21 Jun 2016 at 5:42 pm, WC <notifications@github.com> wrote:

[2016-06-21 18:08] scholtzm commented on #35
@welps Yeah that's the one, but it's not done properly.

@kondax It can (and it should) be done within `passport-steam`. I can open new PR tomorrow if someone else doesn't do it first.

[2016-06-21 18:11] kondax commented on #35
Feel free to do so now - but this has been inactive for a while and I think
the maintainers of the repo are just leaving it.
On Tue, 21 Jun 2016 at 7:09 pm, Michael Scholtz <notifications@github.com>
wrote:

[2016-06-21 18:14] welps commented on #35
@scholtzm Yeah, please open a PR, we'll review, and then merge it in. Thanks.

[2016-06-21 18:15] kondax commented on #35
Sounds great.

[2016-06-23 19:31] serge1peshcoff commented on #37
Can confirm this on node v6, running example from this repository fails with this error. On node v4, everything works fine though.

[2016-06-25 14:47] welps commented on #35
Fixed in #41 by @scholtzm

Thanks everyone!

[2016-06-25 14:47] #35 closed

[2016-06-28 02:37] KronKraken commented on #37
Anyone found an actual fix for this yet?

[2016-06-28 16:53] martinclavell commented on #29
Hey, the source works like a charm! But I couldn't make it work with routers on express, do you have any recommendation? Any previous experience? Thanks

[2016-06-30 08:06] Ava-A commented on #37
I've tried everything mentioned above but I'm still getting `InternalOpenIDError: Failed to verify assertion`.

- passport.serializeUser() and passport.deserializeUser() are included
- Update to `NPM3`
- I am able to retrieve the XML file on my local machine with `curl http://steamcommunity.com/openid`
- With and without express's built in Router for route authentication requests
- node version 4.

[2016-06-30 08:30] scholtzm commented on #37
@Ava-A Does the example work for you? Are you ever able to log in?

The issue itself has nothing to do with passport-steam though. Whenever the assertion fails, `passport-openid` [throws an error](https://github.com/jaredhanson/passport-openid/blob/master/lib/passport-openid/strategy.js#L184).

It's very easy to manually trigger this error too.

[2016-06-30 13:11] mrandri19 commented on #37
Provably it's not your case but if the error is `invalid or replied nonce` check your system clock.
In my case it was +2 hours and it wouldn't work

[2016-06-30 13:40] Ava-A commented on #37
@scholtzm I'm getting this response when I ran the test:
:```
:1 - - [30/Jun/2016:12:43:15 +0000] "POST /auth/openid HTTP/1.1" 302 56 "http://localhost:3000/login" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/51.0.2704.103 Safari/537.36"
::1 - - [30/Jun/2016:12:43:15 +0000] "GET /login HTTP/1.1" 304 - "http://localhost:3000/login" "Mozilla/5.0 (Maci

[2016-07-07 16:09] Burnett01 commented on #37
Before I start with the explanation of this issue, here the main facts:

* This is not an issue of passport-steam
* This is not an issue of node-openid
* This is not an issue of passport-openid
* This is issue only appears when an express.js router is used

---
Let us start with the following setup:

_app.js:_
[code]
_/routes/auth.js:_
[code]

_SteamStrategy configuration:_
[code]

Now try to auth

[2016-07-07 16:24] andrewda commented on #37
@Burnett01 Beautifully explained. I haven't been having this issue, but that should certainly clear everything up for those who are having the issue.

[2016-07-10 13:32] beuted commented on #37
@Burnett01 thanks a lot I had the exact same issue, nice workaround. This should be added to the example ! https://github.com/liamcurry/passport-steam/blob/master/examples/signon/app.js

[2016-07-16 19:50] welps commented on #37
@Burnett01  Thanks so much for your help! I've taken @beuted's suggestion and created a separate example that demonstrates the workaround you've listed.

I've added you to the contributors list for your debugging work! Thanks!

[2016-07-16 19:50] #37 closed

[2016-07-25 06:36] artch commented on #37
@Burnett01 thanks for this! I stuck with this issue as well. The only question is, why did it happen only from time to time, if it is some kind of persistent misconfiguration?

[2016-07-25 07:15] scholtzm commented on #37
As per my older comment here, you can easily trigger this manually by providing invalid OpenID data. The data also expires, so some users might trigger this accidentally even if they don't tinker with the data at all, just by going AFK while logging in.

[2016-08-01 21:07] #29 closed

[2016-08-10 06:29] seanc opened #42 "Unknown authentication strategy "steam""
I'm currently receiving this error when I try to visit my steam auth route.

[code]

Here is my code as well.

[code]

[code]

And my package.json dependencies

[code]

[2016-08-10 06:41] seanc commented on #42
I realized I didn't pass the strategy name in `passport.use`.

[2016-08-10 06:41] #42 closed

[2016-08-22 12:02] OneT0uch opened #43 "JSON response invalid, your API key is most likely wrong"
Edit

[2016-08-22 12:34] #43 closed

[2016-08-30 22:58] ocaiquemello opened #44 "OpenID Registration"
Hello! Im building an eSports CSGO team manager and i wish to implement OpenID so players, managers and coach can signin. I was wondering if OpenID is implemented, anyone with Steam can signin into my system, and it needs to be restrict to the people listed above. Can OpenID provide some registration or restriction so only registered people can signin? Thanks in advance and sorry for my English.

[2016-08-30 23:59] #44 closed

[2016-10-31 04:41] feedarz commented on #37
For me this error was fired, when you get incorrect response from Steam itself. It happens mostly when you have sent too many requests recently, so SteamAPI returns you "Access denied..." page.

[2016-10-31 04:43] busheezy commented on #37
I got an alert for this so I guess I'll post what it ended up being for me.  My VPS provider switched me to a new box an in the process it killed my time.  The ntp configuration was broken because they block most ip's and for some reason my ntp server config was lost.  I spent a good few days trying to figure out the problem and it ended up being the wrong time on my VPS.

[2016-11-26 04:23] Falden21 opened #46 "[question] Help with storing"
Is there any easy way to store this in a mongo database (using mongoose)?

With passport-local-mongoose there are several easy ways of achieving this, I was wondering if there was an easy way here aswell?

[2016-11-26 04:48] andrewda commented on #46
Correct me if I'm wrong, but `passport-local-mongoose` seems to be a way to easily store usernames and hashed passwords in your database. The purpose of using `passport-steam` is to *not* have to store passwords in your database – they login on the Steam servers instead.

It sounds like you might be looking for a session store, though that is not what `passport-local-mongoose` does. If that's the

[2016-11-26 06:38] Falden21 commented on #46
I'm reading these, but to make it simple. I would like to store them as a user in the database once they've logged in with steam. This way other things can be associated with them like forum posts, comments, etc.

[2016-11-26 07:00] andrewda commented on #46
Ah okay, I understand. There is no module right now AFAIK that is taking on this task, but it's not difficult to accomplish by yourself. It shouldn't take more than ~20 lines to store all of a user's data in a MongoDB/Mongoose database.

[2016-11-26 21:51] Falden21 commented on #46
Would you mind hinting me towards the right direction to accomplish this? It would be extremely helpful.

[2016-11-27 14:32] thohoh opened #47 "InternalOpenIDError: Failed to verify assertion"
"express": "^4.14.0",
    "express-session": "^1.14.1",
    "passport": "^0.3.2",
    "passport-local": "^1.0.0",
    "passport-steam": "^1.0.7"

node v6.9.1

`InternalOpenIDError: Failed to verify assertion
    at /home/thohoh/Desktop/app/server/node_modules/passport-openid-node6support/lib/passport-openid/strategy.js:184:36`

Suddenly noticed that it doesn't work anymore. Not sure when it happen

[2016-11-27 15:17] #47 closed

[2016-11-28 15:58] pgrodrigues commented on #46
I guess you just need to:
1) Create a user schema using mongoose, which will hold your users data. Be sure that schema has specific fields for `username` and other steam account data that can be useful in your app (such as `profileUrl`, `profileImageUrl`, `steamId`, etc).
2) When the user logs in and given the fact the login was successful, just check if the user exists (for example, by searching

[2016-11-29 00:33] andrewda commented on #46
Easier way to do what @pgrodrigues suggested is to just use the `update()` method's `upsert` option, which will edit a document or create one if it does not exist. For example:

[code]

This will update a document with the `steamid` field equal to the `steamid` variable (using some ES6 magic on that first line... makes stuff look cleaner). Then we override the existing document with our updated pr

[2016-11-29 09:28] pgrodrigues commented on #46
You're right @andrewda. Either `update` or `findOneAndUpdate` with `upsert: true` it the way to go.

[2016-11-29 15:35] Falden21 commented on #46
Thanks everyone, you have been a huge help!

[2016-11-29 16:45] pgrodrigues commented on #46
No problem :) issue can be closed.

[2016-11-30 04:39] #46 closed

[2016-12-06 19:02] Heartz66 commented on #31
I am currently having the same issue. Steam is very slow last time, even when connecting with Steam client can take 25 seconds to connect.

Changed my IP and using another DNS server.
Receiving the following errors:

- Failed to verify assertion
- Failed to discover OP endpoint URL

My code atm:
`app.get("/login", passport.authenticate("steam", {failureRedirect: "/"}), () => {});

            app.

[2016-12-06 19:20] Heartz66 opened #48 "InternalOpenIDError: Failed to verify assertion"
Steam is very slow last time, even when connecting Steam client can take upto 25 seconds and loading inventory sometimes result in a ETIMEDOUT.

Changed my IP and DNS.
Receiving the following errors:

- Failed to verify assertion
- Failed to discover OP endpoint URL

Node version: 4.6.2
Using latest passport-steam version.

I am using the following code:

`app.get("/login", passport.authenticate("

[2016-12-08 10:38] mnzt commented on #48
duplicate of https://github.com/liamcurry/passport-steam/issues/37

[2016-12-08 10:38] #48 closed

[2016-12-11 12:18] feedarz opened #49 "InternalOpenIDError: Failed to verify assertion"
Error that i am getting:
`InternalOpenIDError: Failed to verify assertion
0|gate     |     at /var/apps/node_modules/passport-steam/node_modules/passport-openid-node6support/lib/passport-openid/strategy.js:184:36
0|gate     |     at /var/apps/node_modules/passport-steam/node_modules/passport-openid-node6support/node_modules/openid/openid.js:1020:12
0|gate     |     at /var/apps/node_modules/passpo

[2016-12-11 12:19] feedarz commented on #49
Please, dont redirect me to other simular issues, i ve read all of them, none helped me.

[2016-12-11 12:52] feedarz commented on #49
Fixed it.

node -v
`v4.7.0`

passport v0.3.2
passport-openid-node6support v1.0.0 <-- removed it
passport-steam v1.0.7
express v4.14.0

[2016-12-11 12:52] #49 closed

[2016-12-20 15:39] trzyrazyzero opened #50 "[question] Redirect after login"
Hello,
its possible todo redirect to site where we clicked login button?
Like i have 2 sites and one passport-steam with one url to api and i want to redirect to site where user click login button.

[2016-12-20 16:16] GlitchedTurtle commented on #50
yes just have 2 different sites one with your passport-steam

[2016-12-30 18:59] Heartz66 commented on #14
I am experiencing this bug the last couple of days.

`Error: connect ETIMEDOUT 23.38.3.235:443
at Object.exports._errnoException (util.js:1022:11)
at exports._exceptionWithHostPort (util.js:1045:20)
at TCPConnectWrap.afterConnect [as oncomplete] (net.js:1090:14)`

[2016-12-30 19:00] mnzt commented on #14
@Heartz66 a time out isn't a bug.

This is an issue with your network/server, and not passport-steam

[2016-12-30 19:11] dolanmiu commented on #14
@mnzt I can confirm this

[2016-12-31 00:40] Heartz66 commented on #14
The problem is that the error throws, is there a way to handle the error so the process doesn't kill?

[2017-01-11 02:12] nicovank opened #51 "Passport does not want to authenticate"
Hello all,
I have been faced to this problem for 5 hours now, no way to make it work.

This is my first time using this library or even OpenID and Passport, so it might be a rookie mistake. I have been scouring the Internet did not find anything.

Here's my code:

	(module.exports = exports = (function (options) {

		const _ = require("underscore");

		options = _.extend({
			port: process.env.POR

[2017-01-11 15:09] nicovank commented on #51
I got some precisions on my issue:
My folder structure:

	index.js
	routes
	|__ index.js
	|__ api
		|__ index.js
	|__ auth
		|__ index.js

`auth/index.js` has all my authentication routes, and `api/index.js` is only setting up one route trying to display `req.user`. Any route I add in `auth/index.js` will work: For example:

	router.get("/test", (req.res) => res.end(req.isAutheticated().toString))

[2017-01-11 15:28] welps commented on #51
The code in your first post has the return URL as `http://localhost:3000/auth/return`, but the actual route to handle it is just `/return`. Is this just a typo or something?

[2017-01-11 15:34] nicovank commented on #51
Problem solved, nothing do do with Passport or the Steam Strategy or OpenID.

I am using the Fetch specification through 'aurelia-fetch-client', and forgot to set

    {
        credentials: "same-origin"
    }

[2017-01-11 15:34] #51 closed

[2017-01-11 17:05] #50 closed

[2017-01-11 17:25] mnzt commented on #50
You have to integrate passport-steam separately on each site

[2017-01-17 21:31] schmitzke opened #52 "[question] mobile auth?"
Hi everyone,

new to node.js and stuff. Really appreciate the project.
Do you guys know whether I can use this up front or do I need this mobile authentication secure code stuff for users to login in correctly (in the eyes of volvo)?

If I'm planning on doing a private website, they wouldn't mind that much, right?

Anyways, sorry if this is not a real issue ticket.

Regards,

Aaron

[2017-01-19 16:53] Burnett01 commented on #52
Two-Factor Authentication is not necessarily required. If a steam user has that disabled, the steam-login page won't ask for a code. It all depends on what settings the steam user set..

[2017-01-19 16:59] schmitzke commented on #52
That's strange because I have mobile auth. activated and when I log in through my steam account I am not asked to insert a code whatsoever

[2017-01-19 18:04] Burnett01 commented on #52
That is very strange indeed. Usually, the steam-login asks for a code if Two-Factor is enabled. But that's out of passport-steam scope.

[2017-01-19 18:46] mnzt commented on #52
It's likely because your device has cookies stored for the account. Try logging in via incognito.

[2017-01-30 18:05] FlorianBELLAZOUZ commented on #49
Hi @feedarz ,

I have the same issue on node v6.9.1.
What do you mean by : passport-openid-node6support v1.0.0 <-- removed it

Do you edit the source code ? =)

[2017-01-31 04:27] feedarz commented on #49
Kinda.

If you want it to work properly on node 4.x, you have to go to strategy.js, go to 5 line and change
[code]
to
[code]
Also go to package.json and change dependency on line 35 from
[code]
to
[code]

[2017-02-01 21:18] ummahusla opened #54 "How to integrate passport-steam's express-router with react-router?"
I just found this repo and this is exactly what I was looking for, the thing is that I'm not sure what is the best way to organise `react-router` and `express-router`. I'm not that well familiar with node yet, so any suggestion will help.

At the moment I'm looking to integrate `passport-steam` with `create-react-app`.

Thanks

[2017-02-22 22:13] GuilhermeShinti opened #55 "Can you help me?"
Hi,

I wanna install passport-steam on heroku, but I cant do it, I tried but when access the address, the page show me "Application error", Can you help me?

[2017-02-22 22:15] GuilhermeShinti commented on #55
heroku logs --tail

2017-02-22T21:53:51.657139+00:00 heroku[web.1]: Process exited with status 1
2017-02-22T21:53:51.546468+00:00 app[web.1]: npm ERR! Linux 3.13.0-105-generic
2017-02-22T21:53:51.547042+00:00 app[web.1]: npm ERR! argv "/app/.heroku/node/bin/node" "/app/.heroku/node/bin/npm" "start"
2017-02-22T21:53:51.547331+00:00 app[web.1]: npm ERR! node v7.6.0
2017-02-22T21:53:51.547584+00:00 a

[2017-02-23 00:42] andrewda commented on #55
This isn't a `passport-steam` issue. You need to specify a `start` script in your `package.json`.

[2017-02-23 01:06] GuilhermeShinti commented on #55
Is it correct?

    "start": "npm run example",
    "test": "ava test/*.test.js",
    "example": "node examples/signon/app.js",
    "example-router": "node examples/signon/app-router.js"
  },

[2017-03-02 19:05] feed4rz opened #56 "Returning to different URLs"
How do i redirect user to different URLs depending on some parameter?

For example:
User is on landing page and clicks sign in and then returns to regular index page, but at the same time if he wanted to access settings page when not logged in, after he logs in he will be redirected back on settings page.

Is there any way to make it work?

P.S. I dont wanna use anything like setting up cookies on

[2017-03-02 22:34] mnzt commented on #56
http://stackoverflow.com/a/13336055/5081979

[2017-03-02 22:34] mnzt commented on #56
Closing as not a passport steam issue.

[2017-03-02 22:34] #56 closed

[2017-03-02 22:35] mnzt commented on #55
Closing as not a passport-steam issue.

[2017-03-02 22:35] #55 closed

[2017-03-02 22:36] mnzt commented on #54
React-router is just a frontend 'router' used for managing pages with the virtual DOM.

You'll need to run a backend server, with, for example, express, to authenticate - see http://toon.io/understanding-passportjs-authentication-flow/.

[2017-03-02 22:36] mnzt commented on #54
Closing as not a passport-steam issue.

[2017-03-02 22:36] #54 closed

[2017-03-03 11:59] feed4rz commented on #56
Thanks anyway 👍

[2017-04-04 14:23] brunneus opened #57 "InternalOpenIDError: Failed to verify assertion"
Morning,

I've read all issues about this topic and none of them help me to solve this problem.

Somebody can help solve this issue?

Heres my code:

**Server.js**

[code]

**Auth.js**

[code]

error:

Any help will be appreciated, thanks in advance

[2017-04-04 14:47] brunneus commented on #57
The root of the problem was network restrictions, with vpn works well.

[2017-04-13 21:09] OverVlad commented on #42
@seanc i have some issue. How you solve it?

[2017-04-14 07:41] OverVlad opened #58 "Unknown authentication strategy "steam""
routes/auth
[code]
app.js
[code]

I did everything according to the documentation, but something wrong.

[2017-04-14 13:00] OverVlad commented on #58
My fail, forgot add require('./utils/passport-init')(passport); in app .js

[2017-04-14 13:00] #58 closed

[2017-05-05 12:07] Maarethyu commented on #37
@scholtzm
I am experiencing this error but only when invalid data is passed, for example when the data is expired, it's used twice or even when steam is in maintenance.
Thing is it just throw a stacktrace to the logs AND to the user.

Why don't this use the `failureRedirect`  option instead of throwing ?
Is there any way I can prevent this ?

[2017-05-05 12:40] scholtzm commented on #37
It's not throwing, the `error` should be either passed to callback or `next` error handler: https://github.com/jaredhanson/passport/blob/ad5fe1dfaeb79f81ba21f99e6025daa0dec87e6e/lib/middleware/authenticate.js#L351

[2017-05-05 13:02] Maarethyu commented on #37
@scholtzm Could you write a quick example on how to catch that error ? I can't figure it out myself sadly.

[2017-05-05 13:19] scholtzm commented on #37
Personally, I don't use `passport` at all since all I need is Steam's OpenID. I'd have to setup everything from scratch.

However, the error should be passed all the way to your express error handler: https://expressjs.com/en/guide/error-handling.html

Another options seems to be to pass callback to `authenticate` middleware:
`passport.authenticate('steam', { failureRedirect: '/login' }), (err, ..

[2017-05-09 04:52] Senior22 opened #59 "I get an error when authorizing Steam"
[code]

[2017-05-09 04:53] Senior22 commented on #59
How can I solve this problem?

[2017-05-11 23:04] Maarethyu commented on #37
So I tried @scholtzm example to catch errors, but this is just the passport callback, if you use it, it will bypass passport-steam.
I just used another middleware to catch the passport errors after it
[code]

[2017-05-24 23:10] phiresky commented on #9
This does seem to be an issue in the library, not in the user's callbacks

[2017-05-26 12:29] CharzleZhang opened #60 "The apiKey was written in code.But but i want to let the gamer to get their apikey and complete the auth."
The apiKey was written in code.But but i want to let the gamer to get their apikey and complete the auth.

[2017-05-26 12:36] mnzt commented on #60
Firstly, why?
Secondly, closing as not an issue with passport-steam

[2017-05-26 12:36] #60 closed

[2017-06-08 14:00] vladgal opened #61 "[Question]How make it work with Handlebars?"
I made the code and it sending me an error
`router.get('/', function(req, res) {
  res.render('index', { user: req.user }, { title: 'Express' });
});

router.get('/tos', function(req, res) {
  res.render('tos', { user: req.user }, { title: 'Terms of Service' });
});`

`<img src='{{user.photos[2].value}}' alt="Avatar Image" />
 <span>{{user.displayName}}</span>`

Error
`C:\Users\VladG\Desktop\Tutor

[2017-06-08 15:47] andrewda commented on #61
This looks like a question for the [Handlebars.js repository](https://github.com/wycats/handlebars.js), not passport-steam.

[2017-06-08 15:50] andrewda commented on #61
Actually, I see your issue. You're not using the correct syntax for `res.render()`. You should specify the template (which you're doing correctly), then a single object for the properties you wish to pass to that template. You're instead passing in 2 objects, and the second one is in the place of where an optional callback should go. Do something like this instead:

[code]

[2017-06-08 19:16] vladgal commented on #61
There no error but the its not display the image and the name

[2017-06-08 19:18] vladgal commented on #61
`Error: Parse error on line 36:
...   <img src='{{user.photos[2].value}}' a
-----------------------^
Expecting 'ID', got 'INVALID'
    at Parser.parseError (C:\Users\VladG\Desktop\Tutorials\Express Web\CSGOGamble\node_modules\handlebars\dist\cjs\handlebars\compiler\parser.js:267:1
9)
    at Parser.parse (C:\Users\VladG\Desktop\Tutorials\Express Web\CSGOGamble\node_modules\handlebars\dist\cjs\handl

[2017-06-08 23:42] andrewda commented on #61
Well, this isn't really the place for handlebars-specific issues. Try asking for help on the handlebars repository.

[2017-06-09 08:10] vladgal commented on #61
I need to make a var named user or its inside passport already?

[2017-06-09 09:44] trzyrazyzero opened #62 "Cannot read property 'steamid' of undefined"
Hello,
im getting sometimes this error:
[code]
Its related to this function https://github.com/liamcurry/passport-steam/blob/master/lib/passport-steam/strategy.js#L15-L42

Any fix?

[2017-06-10 21:31] #61 closed

[2017-06-23 23:26] Bartozzz opened #63 "JWT instead of sessions"
I wonder if there's a way to implement [JWT](https://jwt.io/) along with `passport-stream` strategy. Is there an example of how to use `passport-steam` with JSON Web Token instead of traditional sessions?

I'll try to implement it by myself just by disableing sessions and creating a token manually, but I know there are some problems with OAuth which needs sessions to work correctly. Not sure if it

[2017-06-25 00:35] Bartozzz commented on #63
Works like a charm: https://www.youtube.com/watch?v=ifhiVVVtLSw

[2017-06-25 01:23] andrewda commented on #63
Looks good! Do you have some example code you could share?

[2017-06-25 11:29] Bartozzz commented on #63
Sure. I am using a modified `Koa` framework instead of `Express`, and using some wrappers, so things _may be looking a little bit different_ than usual. For _JWT signing_, I am using `jsonwebtokens` from NPM. Basically, it just opens a new window, calls the Steam strategy on the server and then emits a socket with JWT back to the client.

### Strategy:

[code]

### Router:

[code]

### Middleware

[2017-07-02 22:15] Bartozzz opened #64 "State, sessions and cookies are not avaible in `returnURL`"
It's me again. Still having a problem with `passport-steam`.

I am trying to save persistent data in order to send it back to user once the authorization has succeeded. I am trying to achieve this using _sessions_ (`koa-session`), _cookies_ (implemented by default in `Koa.js`) and in `Passport.js` _state_. None of those works.

I am not sure though, if it is a problem with `koa-passport`, `passpor

[2017-07-08 21:47] kzay opened #65 "Typings"
It's possible to have index.d.ts or a npm package @types/passport-steam?

Thanks a lot

[2017-07-09 14:45] mnzt commented on #65
As far as I know there are no plans to support TypeScript.

NPM package can be located [here](https://www.npmjs.com/package/passport-steam).

[2017-07-09 14:45] #65 closed

[2017-07-11 20:53] #64 closed

[2017-07-11 20:53] #63 closed

[2017-07-11 21:22] Bartozzz opened #66 "Persistent state though sessions/cookies"
Passport Steam forces the strategy to be [_stateless_](https://github.com/liamcurry/passport-steam/blob/master/lib/passport-steam/strategy.js#L81). I wonder if there's a way to save persistent data (for example. though sessions/cookies/state)?

I need to save a token from the user before he requests authorization, and return it to him after the authorization has succeeded. I've already tried to sa

[2017-07-12 09:15] mnzt commented on #66
Persisting session state is outside the remit of this package. It is down to you, the developer, to manage user state.

Here's some resources to assist what you're tring to do.
https://stackoverflow.com/questions/5522020/how-do-sessions-work-in-express-js-with-node-js
https://codeforgeek.com/2015/07/using-redis-to-handle-session-in-node-js/

[2017-07-12 09:15] #66 closed

[2017-07-13 21:49] kzay commented on #65
Ok, i have done it. Thanks

[2017-08-06 14:10] DerJP opened #67 "Setting this whole strategy up"
I've been trying to set this strategy up for 3 whole days now, but I can't get it to work. The signon example is not helping me, because it doesn't include a database. I have problems with User.findByOpenID and serializeUser & deserializeUser.

User.findByOpenID:
I get an error saying "User is not defined". What exactly do I have to define?

serializeUser & deserializeUser:
In the signon example t

[2017-08-07 10:57] mnzt commented on #67
There's some various guides out there I can point you to:

http://destacked.com/2017/04/13/persistent-sessions-passport-js-express-js-session-mysql-js/
http://stackabuse.com/adding-authentication-to-express-with-passport/
https://www.airpair.com/express/posts/expressjs-and-passportjs-sessions-deep-dive

They don't directly address the pain you're facing, but your issue is rather vague without prov

[2017-08-25 13:23] DerJP commented on #67
Sorry for replying late, I was on vacation. I solved this issue around two weeks ago, your resources helped a lot, thanks :)  For anyone having similar issues, this tutorial shows exactly how you can implement passport in your app. It is a tutorial for passport-facebook, but passport-steam is very similar:
https://www.youtube.com/watch?v=OMcWgmkMpEE

[2017-08-25 13:23] #67 closed

[2017-09-15 01:42] magicmode opened #68 "InternalOpenIDError: Failed to verify assertion"
I have been using this 'passport-steam' 2 month ago well,  localhost and online Server.

today morning,  I  found this error in 'localhost'

`> npm run example

`InternalOpenIDError: Failed to verify assertion
    at C:\Users\TESTER\Documents\passport-steam-master\node_modules\passport-openid\lib\passport-openid\strategy.js:184:36
    at C:\Users\TESTER\Documents\passport-steam-master\node_modules

[2017-09-15 01:45] magicmode commented on #68
and my test enviroment

v6.11.3

  "dependencies": {
    "passport-openid": "^0.4.0",
    "steam-web": "0.4.0"
  },
  "devDependencies": {
    "ava": "^0.10.0",
    "ejs": "^2.4.2",
    "express": "^4.14.0",
    "express-session": "^1.13.0",
    "passport": "^0.3.2"
  },

[2017-09-25 18:07] dpourmehr opened #69 "Another issue regarding invalid assertion"
I've looked through all the old issues with this involving this error, and have seen all the fixes people have gone over, but have not been able to fix this for myself.

At the moment, this is the error I'm getting...

[code]

When I change up the failure response to show the error message, I get a more fine-tuned error: 'InternalOpenIDError: Failed to verify assertion'

The main issue thread that

[2017-09-27 21:17] Robinlemon commented on #62
@trzyrazyzero Either your APIKey is wrong, or you're spamming the endpoint too much so they have temporarily blocked you.

1) Verify your APIKey with what you registered on Steam.
2) Wait a few hours (potentially days if you spam lots) and try again.

[2017-09-27 21:20] Robinlemon commented on #59
@Senior22 It is likely the package is not updated.

Try `$ npm update`, if this is unsuccessful, update your npm version via `$ npm install -g npm`

[2017-09-27 21:20] Robinlemon commented on #57
@brunneus It is likely the package is not updated.

Try `$ npm update`, if this is unsuccessful, update your npm version via `$ npm install -g npm`

[2017-11-02 22:12] Eqls commented on #69
Having same exact issue

[2017-11-02 22:29] dpourmehr commented on #69
@Eqls I was able to resolve this, as it was some sort of firewall/network issue. Hope it's helpful.

[2017-11-03 10:52] mnzt commented on #69
Closing as duplicate/similar issue of #31

[2017-11-03 10:52] #69 closed

[2017-11-04 14:48] Eqls commented on #68
Have you managed to solve this issue?

[2017-11-30 02:33] xLeeJYx opened #70 "how do i get the steamid and the details of the returned user ?"
This is my code

[code]

[2017-11-30 02:42] andrewda commented on #70
`req.user` contains the user object of a request.

[2017-11-30 10:20] #70 closed

[2017-11-30 10:44] xLeeJYx commented on #70
But when i do `console.log(req.user)` it says `undefined`

[2018-01-10 15:10] candelibas commented on #68
+1

[2018-01-27 10:10] kamilml opened #71 "How to manage dynamic strategy return URL?"
How can I put multiple `returnURL` based on a cookie of my users?

[2018-02-10 17:27] inky-fox opened #72 "req.user returns id, how to retrieve the users profile"
Hi, I've read the closed issue (#70) previously on this matter but I'm still stuck with their ID only, I can't seem to pull their profile stored in the database.

**Passport.js**
[code]

**Auth Route**
[code]

**server.js**
[code]

[2018-02-10 18:55] inky-fox commented on #72
Sorted. It didn't like (de)serialising via the ID. Using the example given for the entire profile works just fine.

[2018-02-10 18:55] #72 closed

[2018-02-17 13:03] GrosTon1 commented on #68
Hello,

I'm facing the same issue in local as well.

    at /home/groston1/Bureau/express-vue-mvc-starter/node_modules/passport-openid/lib/passport-openid/strategy.js:184:36
    at /home/groston1/Bureau/express-vue-mvc-starter/node_modules/passport-openid/node_modules/openid/openid.js:981:12
    at /home/groston1/Bureau/express-vue-mvc-starter/node_modules/passport-openid/node_modules/openid/openi

[2018-03-10 12:25] GrosTon1 opened #73 "Passing profile datas without logging in"
Hello,

I'd like to know how could I pass datas to the failureRedirect route.

I'd like to do something like return done(null, false, { profile: profile }); and then use the profile on failureRedirect but it doesn't seems to work like that. Is it even possible ?

Cheers.

[2018-04-05 23:19] HoffiPL opened #78 "Claimed identity is invalid"
Hello, I've been creating some basic page with passport-steam. Everything was fine till today, all the time i try to sign in trough steam im getting `Claimed identity is invalid` error. Dont really know what to do.

[2018-04-05 23:31] HoffiPL commented on #78
Closed: https://github.com/liamcurry/passport-steam/pull/74/commits/c42d8e1385213820c66694543f7a14e934bc5caa

[2018-04-05 23:31] #78 closed

[2018-04-06 00:52] demipixel opened #80 "OpenID returns https, "Claimed identity is invalid""
https://github.com/liamcurry/passport-steam/blob/08c56d79a95236b08353ace632352e6d755b9387/lib/passport-steam/strategy.js#L88-L92

I don't know why (everything worked fine before, maybe steam changed something?) but I'm getting https for the identifier. Does this mean it should be `https:\/\/...` or `https?:\/\/...`?

[2018-04-06 01:57] joshverd commented on #80
Getting this exact error right now. I have found zero documentation on what this means, but I know something did change.

[2018-04-06 02:02] joshverd commented on #80
Ok, it looks like there is an outstanding pull request that fixes this. Valve changed something with http/https requests on the API and it's tripping up the regex.

https://github.com/liamcurry/passport-steam/pull/74

[2018-04-06 03:52] 54 commented on #80
Yeah, I haven't dug yet to figure out what actually changed. But, FWIW, everyone's integration is currently broken. It appears to go further than just the https change as we were already prepared for that in my own implementation.

[2018-04-06 03:53] demipixel commented on #80
Are you sure? I changed it to support https and things seem to be working on my site... odd.

[2018-04-06 03:54] 54 commented on #80
Really? Interesting.

[2018-04-06 09:06] mnzt commented on #80
Closed by https://github.com/liamcurry/passport-steam/pull/74.

[2018-04-06 09:06] #80 closed

[2018-04-06 15:12] snax4a opened #81 "Steamcommunity changed all http to https"
Since Valve switched everything on steamcommunity.com to https, a great many websites using Steam OpenID are now giving errors when you try to log in.

The reason is because with Valve's recent SSL/TLS switch, OpenID URLs were changed too. That means while websites used to identify you by http://steamcommunity.com/profiles/{number} they are now receiving https://steamcommunity.com/profiles/{number

[2018-04-06 15:35] snax4a commented on #81
I updated it to v1.0.9 but im still unable to login, there are no errors

[2018-04-07 03:27] lukealford commented on #81
line 88 on the `strategy.js` needs updating as well.

from `var identifierRegex = /^http:\/\/steamcommunity\.com\/openid\/id\/(\d+)$/;`
to `var identifierRegex = /^https:\/\/steamcommunity\.com\/openid\/id\/(\d+)$/;`

[2018-04-07 03:37] coooool123 commented on #81
I've updated mine too but still can't login...

[2018-04-07 04:33] coooool123 opened #82 "Not being redirected back to site after hitting the login > sign in button"
Not getting redirected back to the site after logging in, it just stays the same and doesn't go back to the site after I log in, any help?

[2018-04-07 05:10] snax4a commented on #81
luke this line was updated in v1.0.9 but still its not fixed

[2018-04-07 05:33] lukealford commented on #81
Do you have `?` try removing that as that's all I changed and it all started working normal for me, I was also having the same problem on a nginx proxy removal of the `?` solved this for me.

`/^https?:\/\/steamcommunity\.com\/openid\/id\/(\d+)$/;`

vs

`/^https:\/\/steamcommunity\.com\/openid\/id\/(\d+)$/;`

[2018-04-07 05:44] snax4a commented on #81
What is your proxy configuration? You use 1.0.9 and Just removed ? After
https on line 88?

W dniu sob., 7.04.2018 o 07:33 Luke Alford <notifications@github.com>
napisał(a):

[2018-04-07 05:55] lukealford commented on #81
Just a normal nginx proxy passing to the express port.

I manually updated each of `http` lines before 1.0.9 was released, the only real difference from 1.0.9  and my version is the `?` on line 88. I hope this helps.

[2018-04-07 11:13] snax4a commented on #81
Can you give me your skype or steam? We will try to fix it together i will
pay :)

W dniu sob., 7.04.2018 o 07:55 Luke Alford <notifications@github.com>
napisał(a):

[2018-04-07 17:09] mnzt commented on #81
Closing as not an issue of the package.

[2018-04-07 17:09] #81 closed

[2018-04-07 17:10] mnzt commented on #82
Please give some logs, some code, some description? There is literally no information here which we could use to help you.

[2018-04-07 17:11] snax4a commented on #81
But it is issue of package Becouse it worked before update

W dniu sob., 7.04.2018 o 19:10 Toby Archer <notifications@github.com>
napisał(a):

[2018-04-07 17:12] mnzt commented on #81
The issue is you not configuring your webserver with SSL correctly, not how passport-steam functions

[2018-04-07 17:13] snax4a commented on #81
So with this update website must have SSL set up to work with paszport
steam? I was using this package without SSL before

W dniu sob., 7.04.2018 o 19:12 Toby Archer <notifications@github.com>
napisał(a):

[2018-04-07 17:58] ionpopsoi2 opened #83 "Cannot find modules"
[code]

But gives me this error

[code]

i alredy did npm install

[2018-04-07 18:03] ionpopsoi2 commented on #83
I alredy find the problem if someone have the same error just check you lib/passport-steam folder changeit to.
`  , SteamStrategy = require('./lib/passport-steam').Strategy`

[2018-04-07 18:03] #83 closed

[2018-04-07 18:12] coooool123 commented on #82
logs: https://gyazo.com/b15b4faa1d33be69f25ea7da1daa701b

[2018-04-07 22:10] coooool123 commented on #82
are you not gonna help or what

[2018-04-08 04:55] epeery commented on #82
Did you set up routing using the example or did you write the code from scratch?

[2018-04-08 22:52] Noobulater commented on #82
Gotta weigh in on this, Also having a similar issue. My passport is giving me a failure message 'Claimed identity is invalid.' This changed yesterday for my site, and I hadn't made any code changes. I simply get redirected back to the home screen after logging on

[2018-04-09 14:03] Noobulater opened #84 "'Claimed identity is invalid'"
My passport is giving me a failure message 'Claimed identity is invalid.' and its failing to authenticate.

This changed for my site, and I hadn't made any code changes (happened 4/7/18). This is preventing any and all logins on my site

[2018-04-09 14:53] mnzt commented on #84
Please upgrade `passport-steam` to version '1.0.9' and this should fix your issue.

[2018-04-09 14:57] Noobulater commented on #84
Yes this resolved my issue, thanks!

[2018-04-09 14:57] #84 closed

[2018-04-14 11:51] mnzt commented on #82
@dimxasnewfrozen Please upgrade your version of `passport-steam` to `1.0.9`.

[2018-04-24 17:49] dilame commented on #71
@kamilml i just found an ideal solution
[code]

[2018-04-27 11:00] mnzt commented on #71
@dilame Your solution looks good to me, will close this as resolved.

@kamilml if you're looking for something different, please contest the above solution, or open a new ticket.

[2018-04-27 11:00] #71 closed

[2018-04-27 11:08] mnzt commented on #82
Closing due to inactivity of original author, and a verified fix from another member.

If you are having more issues, please open a new ticket.

[2018-04-27 11:08] #82 closed

[2018-06-10 16:04] muc1 opened #86 "getting wrong steamid on <%= user.id %>"
just the last two number are incorrect.
i have no clue why is that happenning

[2018-06-10 16:21] muc1 commented on #86
# update
i'm getting the correct data from the /auth/steam
but then when im trying to access user.id it rounds the last number up or down

the steam id 767561198140718655 turns to 767561198140718650
and the id 76561198822112084 turn into 76561198822112090

[2018-06-10 18:30] andrewda commented on #86
Basically, a SteamID overflows the capacity of JavaScript's number type. If you store and access it as a string instead (I can't think of any situation in which you'd need it to be a number) you'll be good to go. `passport-steam` should return the SteamID as a string already, so I'd suspect something you're doing is converting or storing it as a number. You'll have to share your code for more in-d

[2018-06-10 18:34] muc1 commented on #86
yes you were right its allready a srting
i changed
`var $id = <%=user.id%>;` to `var $id = '<%=user.id%>';`
and im good to go =]

[2018-06-10 18:34] #86 closed

[2018-06-17 21:52] benjaminsuch opened #87 "Is there a way to retrieve the OpenID URL?"
I try to display the steam login page in a new window but I need the OpenID URL for that. Is that possible to get from the SteamStrategy? If not is it maybe possible to access `req`  inside the strategy callback?

[2018-11-09 17:17] unckleg opened #89 "User creation"
How would I register user in Database so I can find it by some identifier.
Currently I have localStrategy & steamStrategy, I need to authenticate user from localStrategy without identifier because I have user already serialized in session.

[2018-11-20 10:56] #89 closed

[2019-01-31 13:39] donjo9 commented on #31
Never mind, dug a deeper, Firebase dont allow external API calls on free trier, upgrading to a paid plan fixed the issue

[2019-02-03 15:39] HulioEglesias opened #90 "What I should do with Validate?"
Why I got a error?
<img width="937" alt="2019-02-03 18 34 53" src="https://user-images.githubusercontent.com/15662060/52178712-ecc5f800-27e2-11e9-8313-603b2d262e86.png">
What I should do?

[2019-02-28 23:42] articlefr opened #91 "CAPTCHAs.IO Integration"
Hi,

I'd like to ask support for integration of https://captchas.io/ captcha solving service.

Thanks!
Glenn Prialde

[2019-03-04 14:26] tobbbles commented on #91
This library only deals with the passport authentication flow and handling interaction with Steam.

Developers are more than welcome to implement captcha before going through the passport authentication workflow, however that is not in the remit of this library.

[2019-03-04 14:26] #91 closed

[2019-04-28 11:12] Thomas-Smyth commented on #90
Showing your code is the only way we can help you...

[2019-05-01 08:52] tobbbles commented on #90
@Thomas-Smyth Is right. Due to the age of this issue, I'm going to close this as becoming stale.

[2019-05-01 08:52] #90 closed

[2019-08-02 10:05] Maxpain177 opened #92 "NEW EXPLOIT. Need to pass some token to return_url"
Steps to reproduce:
1.  Victim visits `hackerswebsite.example/auth/steam`
2.  `hackerswebsite.example` redirects a victim to `https://steamcommunity.com/openid/login`
3.  Steam redirects victim to `hackerswebsite.example` with a secret.
4.  Now, the owner of `hackerswebsite.example` can use a secret to auth on any website with `passport-steam`.

My proposal: Add ability to pass a callback function

[2019-08-02 10:06] Maxpain177 commented on #92
/label bug

[2019-08-02 10:11] Maxpain177 commented on #92
@liamcurry

[2019-08-02 10:12] Maxpain177 commented on #92
@scholtzm
@welps

[2019-08-02 12:03] em92 commented on #92
Беру ссылку, которая с секретом (openid.sig). Захожу на этот-же сайт и получаю
[code]

[2019-08-02 13:48] welps commented on #92
Let me try to take a look later today, but if anyone is able to provide a fix and PR, it will accelerate efforts and get more eyes for review.

[2019-08-03 13:26] welps commented on #92
@Maxpain177 I approved a PR that moves the upstream core [OpenID](https://github.com/havard/node-openid/releases) implementation from `1.x` to `2.x`.

Can you confirm if this issue still exists?

[2019-08-03 18:31] Maxpain177 commented on #92
@welps Yes, this bug is fixed, thanks.

[2019-08-03 18:31] #92 closed

[2019-10-16 23:04] haziqfiqri opened #93 "[question] Help with Storing"
Trying to update steam user to User schema if exist, otherwise create new steam user in mongodb. But got an error below, how do I solve this?
[code]

[code]

[code]

[2019-10-16 23:23] haziqfiqri commented on #93
Solved it, i think because my model schema are set to required:true. However in my views, steam username and steam image are not showing anything. I insert also the output of mongo shell after trying to login as new user.

[code]

[code]

[2019-10-16 23:31] haziqfiqri commented on #93
Okay nvm, it was just typos. Sorry my bad, haven't sleep for awhile. Thanks!

[2019-10-16 23:31] #93 closed

[2019-10-17 12:32] haziqfiqri commented on #37
I'm having issues with when an existence user trying to login back, non existence user login works alright, tried @Burnett01 solution but doesnt work tho, still get the error. How can I solve this, Can someone kindly help?
[code]
[code]
[code]

[2019-10-17 16:59] haziqfiqri opened #94 "InternalOpenIDError: Failed to verify assertion"
I'm having issues with when an existence user trying to login back and update the database, non existence user login works alright as it will create one inside db, tried @Burnett01 solution [here](https://github.com/liamcurry/passport-steam/issues/37?fbclid=IwAR1KZfGJ8yhp2cxQgu_MCCEVgLXe6O9bzsgGlH-exqunXGkxU_6WKnPmCIk) but doesnt work tho, still get the error. How can I solve this, Can someone kin

[2019-10-17 21:11] haziqfiqri commented on #94
Lmao what was I thinking, here is the updated code

[code]

[2019-10-17 21:11] #94 closed

[2019-10-18 16:14] Burnett01 commented on #94
Have you sorted your issue, @haziqfiqri ?

[2019-10-18 21:59] haziqfiqri commented on #94
Yes i have :)

On Sat, 19 Oct 2019, 12:14 am Steven Agyekum, <notifications@github.com>
wrote:

[2019-12-30 08:28] Zony-Zhao opened #98 "InternalOpenIDError: Failed to discover OP endpoint URL"
Every time I click the auth link URL, I got this error no matter in example code or I write it myself. And I have no idea where is wrong.
![D QVV_}FM`B%5XMTSERHS4L](https://user-images.githubusercontent.com/50739849/71573902-0ec61880-2b21-11ea-9a33-465309b575fc.jpg)
Need your help!

[2020-02-03 20:13] skywalker-ua commented on #98
Maybe you are running both  client and server on same port?

[2020-02-12 16:55] ikonduktor commented on #37
@Burnett01 Thank you very very much. It helps.

[2020-02-22 01:41] arcreigh commented on #93
Out of curiosity were you using Joi for input validation?
I know in recent versions Joi.validate is no longer a valid function,
I am going to be trying to setup something similar with mongoose, Joi, and express to track my communities bans as well as to check for VAC / Community bans on our community.

[2020-03-06 19:16] devlemire commented on #68
I have the same issue as well

[2020-06-04 01:41] bdefore commented on #68
I've encountered this issue as well but strangely on one dev machine but not another, both running identical versions of:

- my project code
- passport-steam (1.0.1)
- node (12.16.3)
- yarn (1.22.4)

Other similarities, both are:
- Running an up to date Linux Manjaro
- Behind the same router, set to distinct static internal IPs.
- Run on port 8888 locally (using netlify-dev)
- Being opened in Chro

[2020-07-14 19:24] bdefore commented on #68
I believe I may have discovered the cause of this issue. Both of my dev machines were running Manjaro. I discovered that the succeeding dev machine had NTP active and the failing one did not. I am no longer able to reproduce the issue after enabling NTP on the one that used to fail.

You can test if NTP is active by running `timedatctl`. You can enable it via command line via `timedatectl set-ntp

[2020-07-14 19:26] bdefore commented on #57
I've left an answer that fixed the issue for me here: https://github.com/liamcurry/passport-steam/issues/68#issuecomment-658367752

[2020-07-14 19:26] bdefore commented on #59
I've left an answer here that may help: https://github.com/liamcurry/passport-steam/issues/68#issuecomment-658367752

[2020-07-15 07:23] #57 closed

[2020-07-15 07:23] #59 closed

[2020-07-19 11:42] UtopiaLogin commented on #98
I have the same problem, but I don't know how to deal with it

[2020-07-28 11:31] UtopiaLogin commented on #98
InternalOpenIDError: Failed to discover OP endpoint URL, help me

[2020-08-04 13:25] zhuang42 commented on #98
Did you find the solution? I suspect it's GFW or networking issue but I can't confirm.

The problem resolves after I deploy it on a Hongkong server.

[2020-09-19 01:10] ipirm opened #101 "Cant connect passport-steam with nest js"
Hi, i am trying to use your package for making steam auth in my Nest JS project
After 3-5 days working, i wasnt able to find any decision

I am not getting any error, but also i am not able to force my app to redirect to steam auth page, my code places here
https://github.com/ipirm/steam-nest

I folowed your example and changed my /src/main.ts and /src/auth/auth.controller.ts , but it is not worki

[2020-10-05 14:45] Paranoid-AF commented on #101
`passport.authenticate()` generates a middleware for Express. Since NestJS is based on Express by default, you could make use of it with NestJS, but not in this way.
Try this answer [here on StackOverflow](https://stackoverflow.com/questions/50593140/how-to-use-a-route-specific-middleware-of-express-in-nestjs).

Hopefully this would work for you ;)

[2020-11-10 00:19] Glutch opened #102 "Dynamic return url"
I have a login button on multiple pages, and i want the user to be returned to the page they logged in from. Not always '/'.

How can i solve this?

[2020-11-12 18:26] astralmedia opened #103 "Passing state to steam & back"
I have been trying for a few days to get passport-steam to pass a state object to steam, which I need to receive with the return_url.

Can you verify this works, and potentially point me in the right direction for how to pull it off?

Thank you so much!

[2020-12-19 06:01] DoseOfCode commented on #102
Set the redirect url you want the user to go to in a session, then once they come back from Steam logged in you can redirect them to it.

[2021-01-07 04:57] mdabdulbari commented on #103
Were you able to find a way?

[2021-01-19 17:16] DerEyve opened #105 "unauthorized"
Hello, im tryied to get this working for 2 hours now. When returning from the login it says unauthorized, eventhough im logged in correctly.

Here's my code for registering the Strategy:
Btw. I'm using mysql and not MongoDB.
[code]

And this is what the routes look like:
[code]

I'm not getting any detailed error, it just displays unauthorized.

Thanks!

[2021-01-23 16:39] #105 closed

[2021-02-17 07:51] qexyorg commented on #37
Hope this help someone

List of errors returning "Failed to verify assertion":
https://i.imgur.com/TGiBv2C.png

Take a look to the five minutes limit and set the correct time on the server

[2021-03-03 17:57] lorenzo-moni opened #106 "Passport and React Native"
Hi, I'm trying to create a react native app with node express backend and the option of steam authentication

When the user in the app click on the login button a browser with the authentication page pop out and let the user log in normally. Then the user is redirected back on the app using deep-links but when I try to perform a GET request to get back the `res.user` it doesn't return anything. Th

[2021-03-31 15:51] herzog0 commented on #103
I'm interested in the same feature. Does anyone know if this is available in any form?

[2021-08-22 19:29] xeroe opened #109 "Send params with auth request"
Hello,
Im trying to use this library to link an existing users account with their steam id.
Is it possible to send params with the auth request so i can assign the steam id to the correct account in my db?

[2021-09-08 13:20] DrBronsy opened #110 "Infinite redirect"
What is the reason passport can post over and over to the Steam login page?

When steam redirects after authorization back to / steam-login / callback passport, the swov is redirected to steam authorization

[2021-09-08 14:04] DrBronsy commented on #110
The problem was express-mongo-sanitize
What to do now?))) Tell me how to solve the problem?

[2022-02-24 17:33] THE-SIMPLE-MARK commented on #103
I'm interested in the same thing! Steam Auth is essentially useless for me this way because I don't know which user's Steam data I got, please implement this or tell us how to do this!

[2022-02-24 18:08] THE-SIMPLE-MARK opened #112 "Passing custom variable(s) to Steam"
There needs to be a way to pass a custom variable of the user's choice to the Steam API which it would pass back because **there is currently no way to verify if the id came from a specific user**.

[2022-02-24 22:25] tobbbles commented on #112
Unfortunately this is not possible. Steam only gives us a legacy OpenID 2.0 API which has no functionality for this.

You will need to solve this in your own business logic, unfortunately.

[2022-02-24 22:25] #112 closed

[2022-05-02 19:19] shardick commented on #31
I have this error only on 1 server of 3.
Two servers works correctly, pointing directly the single server page, fire the error.
i would appreciate if someone can point me in the right direction.

Express, Nodejs and packages are the same, only Ubuntu version is different, the not working server is newer. NTP is on and synced, the time is correct.

Thanks

[2022-09-19 08:19] Marcus-Cardoso commented on #102
@Glutch Did you manage to do this?

[2022-09-19 10:47] Glutch commented on #102
Yes i believe so, but it was such a long time ago and the project is abandoned so i can't find it.
Keep searching and you will figure it out

[2022-09-24 04:00] angelhdzmultimedia opened #113 "[QUESTION] Usage with NestJS and TypeScript"
A guide of usage with NestJS and TypeScript would be really nice.

I'm following NestJS's tutorial on how to use Passport,
but can't get my head around implementing the passport.authentication middleware
and setting up the PassportModule and SteamStrategy.

Thanks.

[2022-09-25 18:20] tobbbles commented on #113
Take a look at https://github.com/nestjs/nest/blob/master/sample/19-auth-jwt/src/auth/strategies/jwt.strategy.ts, you can use this as a base, but use the [Strategy](https://github.com/liamcurry/passport-steam/blob/master/lib/passport-steam/strategy.js#L138) provided by passport-steam.

https://docs.nestjs.com/security/authentication#implementing-passport-local has some more documentation around im

[2022-09-25 18:20] #113 closed

[2022-09-25 18:35] angelhdzmultimedia commented on #113
Thank you very much for your time and kindness.

At the end, I followed the tutorials 100%.
Everything was working as it should.
I implemented the Stream Strategy correctly.

The issue was, I didn't use the SteamAuthGuard in the **/auth/steam/return** route, where the navigation is redirected to after the initial Steam Login **/auth/steam/login**.

**So, for anyone wanting to implement the Steam S

[2022-10-16 16:12] iversonLv commented on #98
It same on my side, seems local does not work, must deploy to the world.
I deployed on Heroku, no problem, however, it's difficult for debug